.frame-child6 {
  position: relative;
  width: 424px;
  height: 546px;
  flex-shrink: 0;
  object-fit: cover;
}
.rectangle-top {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
