.fluent-mdl2empty-recycle-bin-icon {
  position: absolute;
  top: 492px;
  left: 912px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.gi-hng5 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 238px;
  height: 20.98px;
}
.gi-hng-group,
.gi-hng5,
.group-child321 {
  position: absolute;
}
.group-child321 {
  top: 73.5px;
  left: 8px;
  width: 214px;
  height: 3px;
}
.gi-hng-group {
  top: 191px;
  left: 100px;
  width: 238px;
  height: 75px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
}
.shipper-vui-lng1 {
  margin: 0;
}
.mi-khiu-ni-container1 {
  position: relative;
  letter-spacing: -0.05em;
  line-height: 154.49%;
}
.mi-khiu-ni-v-sn-phm-han-container {
  position: absolute;
  top: 572px;
  left: 988px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 424px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
.aircraft-focus-tee3,
.b102,
.b103 {
  position: absolute;
  letter-spacing: -0.05em;
  line-height: 154.49%;
}
.aircraft-focus-tee3 {
  top: 478px;
  left: 224px;
  font-size: var(--font-size-xl);
  font-family: var(--font-times-new-roman);
  color: var(--color-black);
}
.b102 {
  top: 0;
  left: 0;
}
.b103 {
  top: 0;
  left: 73px;
  text-decoration: line-through;
  opacity: 0.5;
}
.b104,
.parent49 {
  position: absolute;
  font-size: var(--font-size-xl);
  font-family: var(--font-times-new-roman);
}
.parent49 {
  top: 509px;
  left: 241px;
  width: 154px;
  height: 31px;
  color: var(--color-black);
}
.b104 {
  top: 491px;
  left: 767px;
  letter-spacing: -0.05em;
  line-height: 154.49%;
  color: var(--color-red);
}
.group-child322 {
  top: -0.5px;
}
.group-child322,
.group-child323,
.group-child324 {
  position: absolute;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 869px;
  height: 1px;
  opacity: 0.5;
}
.group-child323 {
  top: 62.64px;
}
.group-child324 {
  top: 195.57px;
}
.s-lng1,
.sn-phm10 {
  position: absolute;
  display: inline-block;
}
.s-lng1 {
  top: 15.15px;
  height: 27.63px;
}
.sn-phm10 {
  left: 0;
  width: 111px;
}
.sn-phm10,
.tng-tin2 {
  top: 15.15px;
  height: 27.63px;
}
.tng-tin2,
.xa1 {
  position: absolute;
  display: inline-block;
}
.s-lng1 {
  left: 446px;
  width: 106px;
}
.tng-tin2 {
  left: 667px;
  width: 99px;
}
.xa1 {
  top: 13.9px;
  left: 809.78px;
  width: 31.09px;
  height: 28.25px;
}
.gi-hng-inner6,
.line-container {
  position: absolute;
  width: 868px;
  height: 196.07px;
}
.line-container {
  top: 0;
  left: 0;
}
.gi-hng-inner6 {
  top: 377.93px;
  left: 100px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.group-child325,
.rectangle-wrapper4 {
  position: absolute;
  left: 0;
  width: 177.2px;
  height: 41px;
}
.group-child325 {
  top: 0;
  border-radius: var(--br-146xl);
  background-color: var(--color-black);
}
.rectangle-wrapper4 {
  top: 33px;
}
.group-parent107,
.tip-tc-mua1 {
  position: absolute;
}
.tip-tc-mua1 {
  top: 41px;
  left: 5px;
}
.group-parent107 {
  top: 708px;
  left: 100px;
  width: 255px;
  height: 97px;
  cursor: pointer;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
}
.quay-li-trang1 {
  position: absolute;
  top: 0;
  left: 49px;
  text-decoration: underline;
  letter-spacing: -0.05em;
  line-height: 154.49%;
}
.group-child326 {
  position: absolute;
  top: 7.95px;
  left: -1.5px;
  width: 40.5px;
  height: 22.09px;
}
.quay-li-trang-ch-group {
  position: absolute;
  top: 857px;
  left: 100px;
  width: 222px;
  height: 37px;
  cursor: pointer;
  color: var(--color-steelblue);
  font-family: var(--font-times-new-roman);
}
.gi-hng-child11 {
  position: absolute;
  top: 1004px;
  left: -1px;
  background-color: var(--color-black);
  width: 1513px;
  height: 653px;
}
.social-network4 {
  position: absolute;
  top: 0;
  left: 1px;
}
.bi-vit9 {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.bi-vit8 {
  top: 0;
  display: inline-block;
  width: 94px;
  height: 28px;
}
.bi-vit-parent2,
.bi-vit8,
.tuyn-dng8 {
  position: absolute;
  left: 0;
}
.tuyn-dng8 {
  top: 32px;
}
.bi-vit-parent2 {
  top: 44px;
  width: 130px;
  height: 64px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.gi-hng-inner7,
.social-network-parent2 {
  position: absolute;
  width: 195px;
  height: 108px;
}
.social-network-parent2 {
  top: 0;
  left: 0;
}
.gi-hng-inner7 {
  top: 1065px;
  left: 766px;
  font-family: var(--font-baloo-bhai);
}
.danh-mc4,
.t-shirt31 {
  position: absolute;
  top: 0;
  left: 0;
}
.t-shirt31 {
  left: 1px;
  cursor: pointer;
}
.shirt18,
.sweater18 {
  position: absolute;
  top: 32px;
  left: 1px;
}
.sweater18 {
  top: 64px;
}
.hoodie18,
.jacket18 {
  position: absolute;
  top: 96px;
  left: 0;
}
.jacket18 {
  top: 128px;
}
.bomber18,
.polo18 {
  position: absolute;
  top: 160px;
  left: 1px;
}
.polo18 {
  top: 192px;
  left: 0;
}
.croptop18,
.t-shirt-parent4 {
  position: absolute;
  top: 224px;
  left: 0;
}
.t-shirt-parent4 {
  top: 38px;
  left: 1px;
  width: 114px;
  height: 256px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.danh-mc-parent2,
.gi-hng-inner8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 294px;
}
.gi-hng-inner8 {
  top: 1065px;
  left: 544px;
  font-family: var(--font-baloo-bhai);
}
.vector-icon33,
.vector-icon34 {
  position: absolute;
  height: 17.32%;
  width: 5.14%;
  top: 41.34%;
  right: 90.18%;
  bottom: 41.34%;
  left: 4.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon34 {
  height: 57.89%;
  width: 8.19%;
  top: 21.05%;
  right: 91.81%;
  bottom: 21.05%;
  left: 0;
}
.div9 {
  top: 0;
  left: 39px;
}
.div9,
.gi-hng-inner9,
.vector-parent61 {
  position: absolute;
}
.vector-parent61 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gi-hng-inner9 {
  height: 2.29%;
  width: 11.31%;
  top: 68.68%;
  right: 16.87%;
  bottom: 29.03%;
  left: 71.83%;
  font-family: var(--font-baloo-bhai);
}
.hans-mode-t-container4 {
  position: absolute;
  top: 38px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-baloo-2);
}
.group-child327 {
  position: absolute;
}
.group-wrapper91,
.thit-k-v-thi-trang-parent2 {
  position: absolute;
  width: 292px;
  height: 166px;
}
.thit-k-v-thi-trang-parent2 {
  top: 0;
  left: 0;
}
.group-wrapper91 {
  top: 11px;
  left: 47px;
}
.group-child327 {
  height: 20.34%;
  width: 10.62%;
  top: 0;
  right: 89.38%;
  bottom: 79.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent108 {
  position: absolute;
  top: 1054px;
  left: 100px;
  width: 339px;
  height: 177px;
  font-family: var(--font-baloo-bhai);
}
.hansmodevngmailcom5,
.vector-icon35 {
  position: absolute;
  top: 0;
  left: 42px;
}
.vector-icon35 {
  height: 42.11%;
  width: 6.13%;
  top: 21.05%;
  right: 93.87%;
  bottom: 36.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hansmodevngmailcom-parent3 {
  position: absolute;
  top: 1065px;
  left: 1086px;
  width: 326px;
  height: 38px;
  font-family: var(--font-baloo-bhai);
}
.gi-hng-child12,
.gi-hng-child13 {
  position: absolute;
  top: 1370.5px;
  left: -38.5px;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1667px;
  height: 1px;
}
.gi-hng-child13 {
  top: 1395.5px;
  width: 1551px;
}
.gi-hng-child14 {
  position: absolute;
  height: 2.02%;
  width: 27.06%;
  top: 86.6%;
  right: 36.5%;
  bottom: 11.38%;
  left: 36.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home9 {
  left: 0;
  cursor: pointer;
}
.gii-thiu4,
.home9,
.sale69 {
  position: absolute;
  top: 0;
}
.sale69 {
  left: 94px;
}
.gii-thiu4 {
  left: 182px;
}
.chnh-sch4,
.ng-k7,
.ng-nhp6 {
  position: absolute;
  top: 0;
  left: 314px;
}
.ng-k7,
.ng-nhp6 {
  left: 580px;
  cursor: pointer;
}
.ng-nhp6 {
  left: 692px;
}
.copyright-20234,
.home-parent7 {
  position: absolute;
  font-size: var(--font-size-base);
}
.home-parent7 {
  top: 1517px;
  left: 361px;
  width: 789px;
  height: 22px;
}
.copyright-20234 {
  top: 1576px;
  left: 635px;
}
.gi-hng-child15,
.gi-hng-child16 {
  position: absolute;
  box-sizing: border-box;
}
.gi-hng-child15 {
  top: 1521.5px;
  left: 432.5px;
  border-right: 1px solid var(--color-white);
  width: 1px;
  height: 18px;
}
.gi-hng-child16 {
  left: 523.5px;
}
.gi-hng-child16,
.gi-hng-child17,
.gi-hng-child18 {
  top: 1521.5px;
  border-right: 1px solid var(--color-white);
  width: 1px;
  height: 18px;
}
.gi-hng-child17 {
  position: absolute;
  left: 654.5px;
  box-sizing: border-box;
}
.gi-hng-child18 {
  left: 918.5px;
}
.gi-hng-child18,
.gi-hng-child19,
.gi-hng-child20 {
  position: absolute;
  box-sizing: border-box;
}
.gi-hng-child19 {
  top: 1521.5px;
  left: 1032.5px;
  border-right: 1px solid var(--color-white);
  width: 1px;
  height: 18px;
}
.gi-hng-child20 {
  top: 83.5px;
  left: 1311.5px;
  border-top: 3px solid var(--color-white);
  width: 39px;
  height: 3px;
}
.gi-hng-child21 {
  position: absolute;
  top: 444px;
  left: 103px;
  width: 116px;
  height: 130px;
  object-fit: cover;
}
.group-child328 {
  position: absolute;
  top: 8.85px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 187px;
  height: 43.15px;
}
.b105,
.group-child329 {
  position: absolute;
  height: 42.39px;
}
.group-child329 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-600);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 54.51px;
}
.b105 {
  top: 3.15px;
  left: 22.51px;
  letter-spacing: -0.05em;
  line-height: 154.49%;
  display: inline-block;
  width: 15.9px;
}
.b106 {
  position: absolute;
}
.rectangle-parent124 {
  position: absolute;
  top: 8.85px;
  left: 132.49px;
  width: 54.51px;
  height: 45.54px;
}
.b106 {
  top: 12px;
  left: 87px;
  letter-spacing: -0.05em;
  line-height: 154.49%;
  display: inline-block;
  color: var(--color-black);
  width: 13.63px;
  height: 43.15px;
}
.group-child330 {
  position: absolute;
  top: 9.57px;
  left: 0;
  background-color: var(--color-gray-600);
  width: 53.75px;
  height: 42.43px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.b107 {
  position: absolute;
  top: 0;
  left: 21px;
  letter-spacing: -0.05em;
  line-height: 154.49%;
  display: inline-block;
  width: 15.9px;
  height: 42.39px;
}
.rectangle-parent125 {
  position: absolute;
  top: 0;
  left: 0;
  width: 53.75px;
  height: 52px;
}
.rectangle-parent123 {
  position: absolute;
  top: 478px;
  left: 505px;
  width: 187px;
  height: 55.15px;
  font-family: var(--font-times-new-roman);
}
.gi-hng-child22,
.group-child331 {
  position: absolute;
  top: 379px;
  left: 988px;
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 424px;
  height: 187px;
}
.group-child331 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 62px;
}
.tng-tin3 {
  position: absolute;
  top: 17px;
  left: 33px;
  display: inline-block;
  width: 99px;
  height: 27.63px;
}
.rectangle-parent126 {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  height: 62px;
}
.b108 {
  position: absolute;
  top: 16px;
  left: 306px;
  font-size: var(--font-size-xl);
  text-decoration: underline;
  letter-spacing: -0.05em;
  line-height: 154.49%;
  font-family: var(--font-times-new-roman);
  color: var(--color-red);
}
.group-parent109 {
  position: absolute;
  top: 379px;
  left: 988px;
  width: 424px;
  height: 62px;
  font-size: var(--font-size-base);
  color: var(--color-rosybrown);
}
.group-child332 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-black);
  width: 165px;
  height: 48.86px;
}
.thanh-ton1 {
  position: absolute;
  top: 10px;
  left: 23px;
}
.gi-hng-inner10,
.group-parent110 {
  position: absolute;
  width: 165px;
  height: 48.86px;
}
.group-parent110 {
  top: 0;
  left: 0;
}
.gi-hng-inner10 {
  top: 480px;
  left: 1126px;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.group-child333 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1512px;
  height: 112px;
}
.hansmode9,
.vector-icon36 {
  position: absolute;
  cursor: pointer;
}
.hansmode9 {
  top: 32.83px;
  left: 100px;
  display: inline-block;
  font-weight: 700;
  width: 176px;
  height: 46.34px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.8px #8ca657;
}
.vector-icon36 {
  height: 74.88%;
  width: 13.86%;
  top: 9.3%;
  right: 86.14%;
  bottom: 15.82%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twemojiflag-vietnam-icon4,
.vector-icon37,
.vector-icon38 {
  position: absolute;
  top: 0;
  left: 168px;
  width: 34px;
  height: 43px;
  overflow: hidden;
}
.vector-icon37,
.vector-icon38 {
  height: 72.21%;
  width: 13.37%;
  top: 9.3%;
  right: 59.41%;
  bottom: 18.49%;
  left: 27.23%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon38 {
  height: 85.58%;
  width: 11.39%;
  top: 2.33%;
  right: 34.65%;
  bottom: 12.09%;
  left: 53.96%;
}
.b109 {
  top: 4.06px;
  left: 5.36px;
  display: inline-block;
  width: 11.5px;
  height: 16.43px;
}
.b109,
.group-wrapper95 {
  position: absolute;
}
.group-wrapper97,
.group-wrapper98 {
  position: absolute;
  width: 23px;
  height: 23px;
}
.group-wrapper98 {
  top: 0;
  left: 0;
}
.group-wrapper97 {
  top: 1px;
  left: 121px;
}
.group-wrapper95 {
  height: 38.39%;
  width: 13.36%;
  top: 32.14%;
  right: 6.61%;
  bottom: 29.46%;
  left: 80.03%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-noto-sans-telugu);
}
.group-wrapper92 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
}
.home10,
.sn-phm12 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.home10 {
  top: 0;
  width: 64px;
  height: 21px;
  cursor: pointer;
}
.sn-phm12 {
  height: 103.57%;
  width: 118.82%;
  top: -1.79%;
}
.hans-mode-group4,
.lin-h4,
.sn-phm11 {
  position: absolute;
  top: 0;
  height: 21px;
}
.sn-phm11 {
  left: 116px;
  width: 108px;
}
.hans-mode-group4,
.lin-h4 {
  display: inline-block;
}
.lin-h4 {
  left: 276px;
  width: 79px;
}
.hans-mode-group4 {
  left: 407px;
  text-decoration: underline;
  color: inherit;
  width: 202px;
}
.group-parent111,
.home-parent8 {
  position: absolute;
}
.home-parent8 {
  top: 46px;
  left: 433px;
  width: 609px;
  height: 21px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.group-parent111 {
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-corbel);
}
.gi-hng-child23 {
  position: absolute;
  top: 81.5px;
  left: 1204.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 39px;
  height: 3px;
}
.vector-icon39 {
  position: absolute;
  height: 17.32%;
  width: 5.39%;
  top: 41.34%;
  right: 94.61%;
  bottom: 41.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook4 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 132px;
}
.facebook-wrapper2,
.gi-hng-inner11 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 132px;
  height: 38px;
}
.gi-hng-inner11 {
  height: 2.29%;
  width: 10.78%;
  top: 72%;
  right: 17.39%;
  bottom: 25.71%;
  left: 71.83%;
  font-family: var(--font-baloo-bhai);
}
.gi-hng4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1657px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.t-shirt2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper,
.t-shirt-wrapper {
  position: absolute;
  height: 12.5%;
  width: 100%;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.t-shirt-wrapper {
  top: 0;
  bottom: 87.5%;
  background-color: var(--color-dimgray-300);
  display: none;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper {
  background-color: var(--color-dimgray-200);
  display: flex;
}
.shirt-wrapper {
  top: 12.5%;
  bottom: 75%;
}
.sweater-wrapper {
  top: 25%;
  bottom: 62.5%;
}
.hoodie-wrapper {
  top: 37.5%;
  bottom: 50%;
}
.jacket-wrapper {
  top: 50%;
  bottom: 37.5%;
}
.bomber-wrapper {
  top: 62.5%;
  bottom: 25%;
}
.polo-wrapper {
  top: 75%;
  bottom: 12.5%;
}
.croptop-wrapper {
  top: 87.5%;
  bottom: 0;
}
.component-2default,
.t-shirt-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.t-shirt-container {
  height: 12.5%;
  bottom: 87.5%;
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-2default {
  height: 100%;
  bottom: 0;
}
.menu {
  position: relative;
  width: 174px;
  height: 312px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
