.ng-k-child {
  top: 111.5px;
  left: 755.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 891px;
}
.group-child345,
.ng-k-child,
.ng-k-ti1 {
  position: absolute;
}
.ng-k-ti1 {
  top: 0;
  left: 0;
}
.group-child345 {
  top: 75.5px;
  left: 4.5px;
  border-top: 3px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 479px;
  height: 3px;
}
.ng-k-ti-khon-parent {
  position: absolute;
  top: 355px;
  left: 100px;
  width: 482px;
  height: 77px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
}
.thun-tin-hn1 {
  text-transform: lowercase;
}
.thun-tin-hn-trong-vic-kim1 {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.n-hng-ca1,
.ti-khon-v1 {
  text-transform: lowercase;
}
.n-hng-ca1 {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.ti-khon-v1 {
  margin: 0;
}
.thun-tin-hn-container1 {
  position: absolute;
  top: 456px;
  left: 100px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.05em;
  line-height: 154.49%;
  font-family: var(--font-times-new-roman);
  color: var(--color-black);
}
.thanks1 {
  position: absolute;
  top: 675px;
  left: 229px;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.13em;
  line-height: 150.99%;
  color: var(--color-red);
  -webkit-text-stroke: 1.1px #550909;
}
.group-child346 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 535px;
  height: 69px;
}
.rectangle-parent131 {
  top: 136px;
}
.rectangle-parent131,
.rectangle-parent132,
.rectangle-parent133 {
  position: absolute;
  left: 877px;
  width: 535px;
  height: 69px;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.rectangle-parent132 {
  top: 454px;
}
.rectangle-parent133 {
  top: 365px;
}
.mmddyyyy {
  position: absolute;
  top: 19px;
  left: 37px;
  opacity: 0.5;
}
.rectangle-parent134 {
  position: absolute;
  top: 276px;
  left: 877px;
  width: 535px;
  height: 69px;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.group-child350,
.nam {
  position: absolute;
}
.nam {
  top: 1px;
  left: 48px;
}
.group-child350 {
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
}
.n-parent,
.nam-parent {
  position: absolute;
  top: 225px;
  height: 37px;
}
.nam-parent {
  left: 877px;
  width: 109px;
  color: var(--color-black);
}
.n-parent {
  left: 1043px;
  width: 83px;
}
.n-parent,
.this-site-is {
  color: var(--color-black);
}
.privacy-policy1 {
  text-decoration: underline;
}
.privacy-policy {
  color: inherit;
}
.this-site-is-protected-by-reca {
  margin: 0;
}
.and-terms-of-service-apply {
  margin: 0;
  color: var(--color-blue-100);
}
.this-site-is-container {
  position: absolute;
  top: 553px;
  left: 877px;
  font-size: var(--font-size-lg);
  font-family: var(--font-patua-one);
  text-align: center;
  color: var(--color-mediumblue-100);
}
.quay-li-trang3 {
  position: absolute;
  top: 0;
  left: 49px;
  text-decoration: underline;
  letter-spacing: -0.05em;
  line-height: 154.49%;
}
.group-child352 {
  position: absolute;
  top: 7.95px;
  left: -1.5px;
  width: 40.5px;
  height: 22.09px;
}
.quay-li-trang-ch-parent1 {
  position: absolute;
  top: 940px;
  left: 100px;
  width: 222px;
  height: 37px;
  cursor: pointer;
  color: var(--color-steelblue);
  font-family: var(--font-times-new-roman);
}
.ng-k-item {
  position: absolute;
  top: 1004px;
  left: -1px;
  background-color: var(--color-black);
  width: 1513px;
  height: 653px;
}
.social-network6 {
  position: absolute;
  top: 0;
  left: 1px;
}
.bi-vit13 {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.bi-vit12 {
  top: 0;
  display: inline-block;
  width: 94px;
  height: 28px;
}
.bi-vit-parent4,
.bi-vit12,
.tuyn-dng12 {
  position: absolute;
  left: 0;
}
.tuyn-dng12 {
  top: 32px;
}
.bi-vit-parent4 {
  top: 44px;
  width: 130px;
  height: 64px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.ng-k-inner,
.social-network-parent4 {
  position: absolute;
  width: 195px;
  height: 108px;
}
.social-network-parent4 {
  top: 0;
  left: 0;
}
.ng-k-inner {
  top: 1065px;
  left: 766px;
  font-family: var(--font-baloo-bhai);
}
.t-shirt35 {
  position: absolute;
  top: 0;
  left: 1px;
  cursor: pointer;
}
.shirt22,
.sweater22 {
  position: absolute;
  top: 32px;
  left: 1px;
}
.sweater22 {
  top: 64px;
}
.hoodie22,
.jacket22 {
  position: absolute;
  top: 96px;
  left: 0;
}
.jacket22 {
  top: 128px;
}
.bomber22,
.polo22 {
  position: absolute;
  top: 160px;
  left: 1px;
}
.polo22 {
  top: 192px;
  left: 0;
}
.croptop22,
.t-shirt-parent6 {
  position: absolute;
  top: 224px;
  left: 0;
}
.t-shirt-parent6 {
  top: 38px;
  left: 1px;
  width: 114px;
  height: 256px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.danh-mc-parent4,
.ng-k-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 294px;
}
.ng-k-inner1 {
  top: 1065px;
  left: 544px;
  font-family: var(--font-baloo-bhai);
}
.vector-icon47,
.vector-icon48 {
  position: absolute;
  height: 17.32%;
  width: 5.14%;
  top: 41.34%;
  right: 90.18%;
  bottom: 41.34%;
  left: 4.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon48 {
  height: 57.89%;
  width: 8.19%;
  top: 21.05%;
  right: 91.81%;
  bottom: 21.05%;
  left: 0;
}
.div11 {
  top: 0;
  left: 39px;
}
.div11,
.ng-k-inner2,
.vector-parent70 {
  position: absolute;
}
.vector-parent70 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ng-k-inner2 {
  height: 2.29%;
  width: 11.31%;
  top: 68.68%;
  right: 16.87%;
  bottom: 29.03%;
  left: 71.83%;
  font-family: var(--font-baloo-bhai);
}
.hans-mode-t-container6 {
  position: absolute;
  top: 38px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-baloo-2);
}
.group-child353 {
  position: absolute;
}
.group-wrapper107,
.thit-k-v-thi-trang-parent4 {
  position: absolute;
  width: 292px;
  height: 166px;
}
.thit-k-v-thi-trang-parent4 {
  top: 0;
  left: 0;
}
.group-wrapper107 {
  top: 11px;
  left: 47px;
}
.group-child353 {
  height: 20.34%;
  width: 10.62%;
  top: 0;
  right: 89.38%;
  bottom: 79.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent120 {
  position: absolute;
  top: 1054px;
  left: 100px;
  width: 339px;
  height: 177px;
  font-family: var(--font-baloo-bhai);
}
.hansmodevngmailcom7,
.vector-icon49 {
  position: absolute;
  top: 0;
  left: 42px;
}
.vector-icon49 {
  height: 42.11%;
  width: 6.13%;
  top: 21.05%;
  right: 93.87%;
  bottom: 36.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hansmodevngmailcom-parent5 {
  position: absolute;
  top: 1065px;
  left: 1086px;
  width: 326px;
  height: 38px;
  font-family: var(--font-baloo-bhai);
}
.ng-k-child1,
.ng-k-child2 {
  position: absolute;
  top: 1370.5px;
  left: -38.5px;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1667px;
  height: 1px;
}
.ng-k-child2 {
  top: 1395.5px;
  width: 1551px;
}
.ng-k-child3 {
  position: absolute;
  height: 2.02%;
  width: 27.06%;
  top: 86.6%;
  right: 36.5%;
  bottom: 11.38%;
  left: 36.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home13 {
  left: 0;
  cursor: pointer;
}
.gii-thiu6,
.home13,
.sale71 {
  position: absolute;
  top: 0;
}
.sale71 {
  left: 94px;
}
.gii-thiu6 {
  left: 182px;
}
.chnh-sch6,
.ng-k10,
.ng-nhp10 {
  position: absolute;
  top: 0;
  left: 314px;
}
.ng-k10,
.ng-nhp10 {
  left: 580px;
  cursor: pointer;
}
.ng-nhp10 {
  left: 692px;
}
.copyright-20236,
.home-parent11 {
  position: absolute;
  font-size: var(--font-size-base);
}
.home-parent11 {
  top: 1517px;
  left: 361px;
  width: 789px;
  height: 22px;
}
.copyright-20236 {
  top: 1576px;
  left: 635px;
}
.ng-k-child4 {
  left: 432.5px;
}
.ng-k-child4,
.ng-k-child5,
.ng-k-child6,
.ng-k-child7,
.ng-k-child8 {
  position: absolute;
  top: 1521.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.ng-k-child5 {
  left: 523.5px;
}
.ng-k-child6 {
  left: 654.5px;
}
.ng-k-child7 {
  left: 918.5px;
}
.ng-k-child8 {
  left: 1032.5px;
}
.group-child354 {
  background-color: var(--color-black);
}
.group-child354,
.rectangle-wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 535px;
  height: 63px;
}
.group-parent121,
.ng-k11 {
  position: absolute;
}
.ng-k11 {
  top: 16px;
  left: 223px;
}
.group-parent121 {
  top: 613px;
  left: 877px;
  width: 535px;
  height: 63px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
}
.hoc1 {
  position: absolute;
  top: 705px;
  left: 1118px;
  color: var(--color-gray-500);
}
.ng-k-child10,
.ng-k-child9 {
  position: absolute;
  top: 731.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 223px;
  height: 1px;
}
.ng-k-child9 {
  left: 881.5px;
}
.ng-k-child10 {
  left: 1194.5px;
}
.ng-nhp-ti1 {
  position: absolute;
  top: 0;
  left: 214px;
  text-decoration: underline;
  color: var(--color-red);
  cursor: pointer;
}
.bn-c-ti-khon-parent {
  position: absolute;
  top: 98px;
  left: 70px;
  width: 396px;
  height: 28px;
}
.group-child355 {
  background-color: var(--color-tomato);
}
.google1 {
  position: absolute;
}
.group-child355,
.rectangle-wrapper10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 535px;
  height: 69px;
}
.google1 {
  top: 14px;
  left: 223px;
  display: inline-block;
  width: 89px;
  height: 42px;
}
.group-parent122,
.group-parent123 {
  position: absolute;
  width: 535px;
}
.group-parent123 {
  top: 0;
  left: 0;
  height: 69px;
  text-align: left;
  color: var(--color-gray-300);
  font-family: var(--font-paytone-one);
}
.group-parent122 {
  top: 837px;
  left: 877px;
  height: 126px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
.group-child356 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 535px;
  height: 69px;
}
.facebook7 {
  top: 15.09px;
  left: 209px;
  display: inline-block;
  width: 117px;
  height: 38.81px;
}
.facebook7,
.group-child357,
.group-parent124 {
  position: absolute;
}
.group-parent124 {
  top: 761px;
  left: 877px;
  width: 535px;
  height: 69px;
}
.group-child357 {
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1512px;
  height: 112px;
}
.hansmode11 {
  position: absolute;
  top: 32.83px;
  left: 100px;
  display: inline-block;
  font-weight: 700;
  width: 176px;
  height: 46.34px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.8px #8ca657;
  cursor: pointer;
}
.twemojiflag-vietnam-icon6,
.vector-icon50,
.vector-icon51 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 34px;
  height: 43px;
  overflow: hidden;
}
.vector-icon50,
.vector-icon51 {
  height: 72.21%;
  width: 18.37%;
  top: 9.3%;
  right: 81.63%;
  bottom: 18.49%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon51 {
  height: 100%;
  width: 65.71%;
  top: 0;
  right: 34.29%;
  bottom: 0;
}
.b111 {
  position: absolute;
  top: 4.06px;
  left: 5.36px;
  display: inline-block;
  width: 11.5px;
  height: 16.43px;
}
.ellipse-parent3 {
  position: absolute;
  top: 0;
  left: 0;
}
.ellipse-parent3,
.group-wrapper113 {
  width: 23px;
  height: 23px;
}
.group-wrapper113,
.vector-parent72 {
  position: absolute;
  top: 0;
}
.group-wrapper113 {
  left: 12px;
}
.vector-parent72 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.group-wrapper112 {
  position: absolute;
  height: 85.58%;
  width: 23.81%;
  top: 2.33%;
  right: 39.46%;
  bottom: 12.09%;
  left: 36.73%;
}
.group-wrapper110,
.twemojiflag-vietnam-parent {
  position: absolute;
  width: 147px;
  height: 43px;
}
.twemojiflag-vietnam-parent {
  top: 0;
  left: 0;
}
.group-wrapper110 {
  top: 36px;
  left: 1265px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-noto-sans-telugu);
}
.group-child359 {
  position: absolute;
  height: 40.18%;
  width: 2.38%;
  top: 35.71%;
  right: 17.86%;
  bottom: 24.11%;
  left: 79.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent126 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
}
.home14,
.sn-phm16 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.home14 {
  top: 0;
  width: 64px;
  height: 21px;
  cursor: pointer;
}
.sn-phm16 {
  height: 103.57%;
  width: 118.82%;
  top: -1.79%;
}
.hans-mode-group6,
.lin-h6,
.sn-phm15 {
  position: absolute;
  top: 0;
  height: 21px;
}
.sn-phm15 {
  left: 116px;
  width: 108px;
}
.hans-mode-group6,
.lin-h6 {
  display: inline-block;
}
.lin-h6 {
  left: 276px;
  width: 79px;
}
.hans-mode-group6 {
  left: 407px;
  text-decoration: underline;
  color: inherit;
  width: 202px;
}
.group-parent125,
.home-parent12 {
  position: absolute;
}
.home-parent12 {
  top: 45px;
  left: 433px;
  width: 609px;
  height: 21px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.group-parent125 {
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-corbel);
}
.vector-icon52 {
  position: absolute;
  height: 17.32%;
  width: 5.39%;
  top: 41.34%;
  right: 94.61%;
  bottom: 41.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook8 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 132px;
}
.facebook-wrapper4,
.ng-k-inner3 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 132px;
  height: 38px;
}
.ng-k-inner3 {
  height: 2.29%;
  width: 10.78%;
  top: 72.54%;
  right: 17.39%;
  bottom: 25.17%;
  left: 71.83%;
  font-family: var(--font-baloo-bhai);
}
.ng-k9 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1657px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.t-shirt2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper,
.t-shirt-wrapper {
  position: absolute;
  height: 12.5%;
  width: 100%;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.t-shirt-wrapper {
  top: 0;
  bottom: 87.5%;
  background-color: var(--color-dimgray-300);
  display: none;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper {
  background-color: var(--color-dimgray-200);
  display: flex;
}
.shirt-wrapper {
  top: 12.5%;
  bottom: 75%;
}
.sweater-wrapper {
  top: 25%;
  bottom: 62.5%;
}
.hoodie-wrapper {
  top: 37.5%;
  bottom: 50%;
}
.jacket-wrapper {
  top: 50%;
  bottom: 37.5%;
}
.bomber-wrapper {
  top: 62.5%;
  bottom: 25%;
}
.polo-wrapper {
  top: 75%;
  bottom: 12.5%;
}
.croptop-wrapper {
  top: 87.5%;
  bottom: 0;
}
.component-2default,
.t-shirt-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.t-shirt-container {
  height: 12.5%;
  bottom: 87.5%;
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-2default {
  height: 100%;
  bottom: 0;
}
.menu {
  position: relative;
  width: 174px;
  height: 312px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
.mditick-decagram-icon {
  position: relative;
  width: 77px;
  height: 77px;
  flex-shrink: 0;
  overflow: hidden;
}
.bn-ng2 {
  position: absolute;
  top: 8px;
  left: 0;
  display: inline-block;
  width: 510px;
  height: 37px;
}
.ng-nhp4 {
  position: relative;
}
.component-wrapper,
.ng-nhp-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ng-nhp-wrapper {
  border-radius: 24px;
  background-color: var(--color-black);
  height: 50px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 7px var(--padding-3xs);
  box-sizing: border-box;
}
.component-wrapper {
  position: absolute;
  top: -30px;
  left: 490px;
  flex-direction: column;
  padding: var(--padding-3xs);
  cursor: pointer;
  color: var(--color-white);
}
.bn-ng-k-thnh-cng-parent {
  position: relative;
  width: 733px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-parent4,
.frame-wrapper4,
.mditick-decagram-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mditick-decagram-parent {
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  height: 172px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-47xl) var(--padding-25xl);
  gap: var(--gap-3xs);
}
.frame-parent4,
.frame-wrapper4 {
  flex-direction: column;
}
.frame-wrapper4 {
  padding: var(--padding-3xs);
}
.frame-parent4 {
  position: relative;
  overflow-x: auto;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
