.ng-nhp-child {
  top: 111.5px;
  left: 755.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 891px;
}
.group-child335,
.ng-nhp-child,
.ng-nhp-ti {
  position: absolute;
}
.ng-nhp-ti {
  top: 0;
  left: 0;
}
.group-child335 {
  top: 74px;
  left: 46px;
  width: 476px;
  height: 3px;
}
.ng-nhp-ti-khon-parent {
  position: absolute;
  top: 355px;
  left: 100px;
  width: 568px;
  height: 75.5px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
}
.thun-tin-hn {
  text-transform: lowercase;
}
.thun-tin-hn-trong-vic-kim {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.n-hng-ca,
.ti-khon-v {
  text-transform: lowercase;
}
.n-hng-ca {
  margin-block-start: 0;
  margin-block-end: 1px;
}
.ti-khon-v {
  margin: 0;
}
.thun-tin-hn-container {
  position: absolute;
  top: 456px;
  left: 100px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.05em;
  line-height: 154.49%;
  font-family: var(--font-times-new-roman);
  color: var(--color-black);
}
.thanks {
  position: absolute;
  top: 675px;
  left: 229px;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.13em;
  line-height: 150.99%;
  color: var(--color-red);
  -webkit-text-stroke: 1.1px #550909;
}
.group-child336 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 535px;
  height: 69px;
}
.email-or-st {
  position: absolute;
  top: 19px;
  left: 37px;
  opacity: 0.5;
}
.rectangle-parent128,
.rectangle-parent129 {
  position: absolute;
  top: 236px;
  left: 877px;
  width: 535px;
  height: 69px;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.rectangle-parent129 {
  top: 342px;
}
.qun-mt-khu {
  position: absolute;
  top: 442px;
  left: 1254px;
  text-decoration: underline;
  font-family: var(--font-times-new-roman);
  color: #df6848;
  text-align: center;
}
.group-child338 {
  background-color: var(--color-gray-800);
}
.group-child338,
.rectangle-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 535px;
  height: 63px;
}
.group-parent113,
.ng-nhp8 {
  position: absolute;
}
.ng-nhp8 {
  top: 16px;
  left: 203px;
}
.group-parent113 {
  top: 499px;
  left: 877px;
  width: 535px;
  height: 63px;
  font-size: var(--font-size-3xl);
}
.ng-k-ti {
  position: absolute;
  top: 0;
  left: 240px;
  text-decoration: underline;
  color: var(--color-red);
  cursor: pointer;
}
.bn-cha-c-ti-khon-parent {
  position: absolute;
  top: 109px;
  left: 71px;
  width: 394px;
  height: 28px;
}
.group-child339 {
  background-color: var(--color-tomato);
}
.google {
  position: absolute;
}
.group-child339,
.rectangle-wrapper7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 535px;
  height: 69px;
}
.google {
  top: 14px;
  left: 223px;
  display: inline-block;
  width: 89px;
  height: 42px;
}
.group-parent114,
.group-parent115 {
  position: absolute;
  width: 535px;
}
.group-parent115 {
  top: 0;
  left: 0;
  height: 69px;
  text-align: left;
  color: var(--color-gray-300);
  font-family: var(--font-paytone-one);
}
.group-parent114 {
  top: 743px;
  left: 877px;
  height: 137px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
.group-child340 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 535px;
  height: 69px;
}
.facebook5 {
  position: absolute;
  top: 15.09px;
  left: 209px;
  display: inline-block;
  width: 117px;
  height: 38.81px;
}
.group-parent116 {
  position: absolute;
  top: 667px;
  left: 877px;
  width: 535px;
  height: 69px;
}
.hoc {
  position: absolute;
  top: 591px;
  left: 1113px;
  color: var(--color-gray-500);
}
.quay-li-trang2 {
  position: absolute;
  top: 0;
  left: 49px;
  text-decoration: underline;
  letter-spacing: -0.05em;
  line-height: 154.49%;
}
.group-child341 {
  position: absolute;
  top: 7.95px;
  left: -1.5px;
  width: 40.5px;
  height: 22.09px;
}
.quay-li-trang-ch-container {
  position: absolute;
  top: 940px;
  left: 100px;
  width: 222px;
  height: 37px;
  cursor: pointer;
  color: var(--color-steelblue);
  font-family: var(--font-times-new-roman);
}
.ng-nhp-item {
  position: absolute;
  top: 1004px;
  left: -1px;
  background-color: var(--color-black);
  width: 1513px;
  height: 653px;
}
.social-network5 {
  position: absolute;
  top: 0;
  left: 1px;
}
.bi-vit11 {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.bi-vit10 {
  top: 0;
  display: inline-block;
  width: 94px;
  height: 28px;
}
.bi-vit-parent3,
.bi-vit10,
.tuyn-dng10 {
  position: absolute;
  left: 0;
}
.tuyn-dng10 {
  top: 32px;
}
.bi-vit-parent3 {
  top: 44px;
  width: 130px;
  height: 64px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.ng-nhp-inner,
.social-network-parent3 {
  position: absolute;
  width: 195px;
  height: 108px;
}
.social-network-parent3 {
  top: 0;
  left: 0;
}
.ng-nhp-inner {
  top: 1065px;
  left: 766px;
  font-family: var(--font-baloo-bhai);
}
.t-shirt33 {
  position: absolute;
  top: 0;
  left: 1px;
  cursor: pointer;
}
.shirt20,
.sweater20 {
  position: absolute;
  top: 32px;
  left: 1px;
}
.sweater20 {
  top: 64px;
}
.hoodie20,
.jacket20 {
  position: absolute;
  top: 96px;
  left: 0;
}
.jacket20 {
  top: 128px;
}
.bomber20,
.polo20 {
  position: absolute;
  top: 160px;
  left: 1px;
}
.polo20 {
  top: 192px;
  left: 0;
}
.croptop20,
.t-shirt-parent5 {
  position: absolute;
  top: 224px;
  left: 0;
}
.t-shirt-parent5 {
  top: 38px;
  left: 1px;
  width: 114px;
  height: 256px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.danh-mc-parent3,
.ng-nhp-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 294px;
}
.ng-nhp-inner1 {
  top: 1065px;
  left: 544px;
  font-family: var(--font-baloo-bhai);
}
.vector-icon40,
.vector-icon41 {
  position: absolute;
  height: 17.32%;
  width: 5.14%;
  top: 41.34%;
  right: 90.18%;
  bottom: 41.34%;
  left: 4.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon41 {
  height: 57.89%;
  width: 8.19%;
  top: 21.05%;
  right: 91.81%;
  bottom: 21.05%;
  left: 0;
}
.div10 {
  top: 0;
  left: 39px;
}
.div10,
.ng-nhp-inner2,
.vector-parent65 {
  position: absolute;
}
.vector-parent65 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ng-nhp-inner2 {
  height: 2.29%;
  width: 11.31%;
  top: 68.68%;
  right: 16.87%;
  bottom: 29.03%;
  left: 71.83%;
  font-family: var(--font-baloo-bhai);
}
.hans-mode-t5 {
  margin: 0;
}
.hans-mode-t-container5 {
  position: absolute;
  top: 38px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-baloo-2);
}
.group-child342 {
  position: absolute;
}
.group-wrapper99,
.thit-k-v-thi-trang-parent3 {
  position: absolute;
  width: 292px;
  height: 166px;
}
.thit-k-v-thi-trang-parent3 {
  top: 0;
  left: 0;
}
.group-wrapper99 {
  top: 11px;
  left: 47px;
}
.group-child342 {
  height: 20.34%;
  width: 10.62%;
  top: 0;
  right: 89.38%;
  bottom: 79.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent117 {
  position: absolute;
  top: 1054px;
  left: 100px;
  width: 339px;
  height: 177px;
  font-family: var(--font-baloo-bhai);
}
.hansmodevngmailcom6,
.vector-icon42 {
  position: absolute;
  top: 0;
  left: 42px;
}
.vector-icon42 {
  height: 42.11%;
  width: 6.13%;
  top: 21.05%;
  right: 93.87%;
  bottom: 36.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hansmodevngmailcom-parent4 {
  position: absolute;
  top: 1065px;
  left: 1086px;
  width: 326px;
  height: 38px;
  font-family: var(--font-baloo-bhai);
}
.ng-nhp-child1,
.ng-nhp-child2 {
  position: absolute;
  top: 1370.5px;
  left: -38.5px;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1667px;
  height: 1px;
}
.ng-nhp-child2 {
  top: 1395.5px;
  width: 1551px;
}
.ng-nhp-child3 {
  position: absolute;
  height: 2.02%;
  width: 27.06%;
  top: 86.6%;
  right: 36.5%;
  bottom: 11.38%;
  left: 36.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home11 {
  left: 0;
  cursor: pointer;
}
.gii-thiu5,
.home11,
.sale70 {
  position: absolute;
  top: 0;
}
.sale70 {
  left: 94px;
}
.gii-thiu5 {
  left: 182px;
}
.chnh-sch5,
.ng-k8,
.ng-nhp9 {
  position: absolute;
  top: 0;
  left: 314px;
}
.ng-k8,
.ng-nhp9 {
  left: 580px;
  cursor: pointer;
}
.ng-nhp9 {
  left: 692px;
}
.copyright-20235,
.home-parent9 {
  position: absolute;
  font-size: var(--font-size-base);
}
.home-parent9 {
  top: 1517px;
  left: 361px;
  width: 789px;
  height: 22px;
}
.copyright-20235 {
  top: 1576px;
  left: 635px;
}
.ng-nhp-child4 {
  left: 432.5px;
}
.ng-nhp-child4,
.ng-nhp-child5,
.ng-nhp-child6,
.ng-nhp-child7,
.ng-nhp-child8 {
  position: absolute;
  top: 1521.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.ng-nhp-child5 {
  left: 523.5px;
}
.ng-nhp-child6 {
  left: 654.5px;
}
.ng-nhp-child7 {
  left: 918.5px;
}
.ng-nhp-child8 {
  left: 1032.5px;
}
.ng-nhp-child10,
.ng-nhp-child11,
.ng-nhp-child9 {
  position: absolute;
  box-sizing: border-box;
}
.ng-nhp-child9 {
  top: 83.5px;
  left: 1204.5px;
  border-top: 3px solid var(--color-white);
  width: 39px;
  height: 3px;
}
.ng-nhp-child10,
.ng-nhp-child11 {
  top: 617.5px;
  left: 876.5px;
  border-top: 1px solid var(--color-black);
  width: 223px;
  height: 1px;
}
.ng-nhp-child11 {
  left: 1189.5px;
}
.group-child343 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1512px;
  height: 112px;
}
.hansmode10 {
  position: absolute;
  top: 32.83px;
  left: 100px;
  display: inline-block;
  font-weight: 700;
  width: 176px;
  height: 46.34px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.8px #8ca657;
  cursor: pointer;
}
.vector-icon43 {
  position: absolute;
  height: 74.88%;
  width: 13.86%;
  top: 9.3%;
  right: 86.14%;
  bottom: 15.82%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twemojiflag-vietnam-icon5,
.vector-icon44,
.vector-icon45 {
  position: absolute;
  top: 0;
  left: 168px;
  width: 34px;
  height: 43px;
  overflow: hidden;
}
.vector-icon44,
.vector-icon45 {
  height: 72.21%;
  width: 13.37%;
  top: 9.3%;
  right: 59.41%;
  bottom: 18.49%;
  left: 27.23%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon45 {
  height: 100%;
  width: 65.71%;
  top: 0;
  right: 34.29%;
  bottom: 0;
  left: 0;
}
.b110 {
  position: absolute;
  top: 4.06px;
  left: 5.36px;
  display: inline-block;
  width: 11.5px;
  height: 16.43px;
}
.group-wrapper105,
.group-wrapper106 {
  position: absolute;
  top: 0;
  width: 23px;
  height: 23px;
}
.group-wrapper106 {
  left: 0;
}
.vector-parent68 {
  position: absolute;
}
.group-wrapper105 {
  left: 12px;
}
.vector-parent68 {
  height: 85.58%;
  width: 17.33%;
  top: 2.33%;
  right: 28.71%;
  bottom: 12.09%;
  left: 53.96%;
  cursor: pointer;
}
.group-wrapper103 {
  position: absolute;
  height: 38.39%;
  width: 13.36%;
  top: 32.14%;
  right: 6.61%;
  bottom: 29.46%;
  left: 80.03%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-noto-sans-telugu);
}
.group-wrapper100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
}
.home12,
.sn-phm14 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.home12 {
  top: 0;
  width: 64px;
  height: 21px;
  cursor: pointer;
}
.sn-phm14 {
  height: 103.57%;
  width: 118.82%;
  top: -1.79%;
}
.hans-mode-group5,
.lin-h5,
.sn-phm13 {
  position: absolute;
  top: 0;
  height: 21px;
}
.sn-phm13 {
  left: 116px;
  width: 108px;
}
.hans-mode-group5,
.lin-h5 {
  display: inline-block;
}
.lin-h5 {
  left: 276px;
  width: 79px;
}
.hans-mode-group5 {
  left: 407px;
  text-decoration: underline;
  color: inherit;
  width: 202px;
}
.group-parent118,
.home-parent10 {
  position: absolute;
}
.home-parent10 {
  top: 45px;
  left: 433px;
  width: 609px;
  height: 21px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.group-parent118 {
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-corbel);
}
.ng-nhp-child12 {
  position: absolute;
  top: 82.5px;
  left: 1204.5px;
  border-top: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 39px;
  height: 3px;
}
.vector-icon46 {
  position: absolute;
  height: 17.32%;
  width: 5.39%;
  top: 41.34%;
  right: 94.61%;
  bottom: 41.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook6 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 132px;
}
.facebook-wrapper3,
.ng-nhp-inner3 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 132px;
  height: 38px;
}
.ng-nhp-inner3 {
  height: 2.29%;
  width: 10.78%;
  top: 72.54%;
  right: 17.39%;
  bottom: 25.17%;
  left: 71.83%;
  font-family: var(--font-baloo-bhai);
}
.ng-nhp7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1657px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.t-shirt2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper,
.t-shirt-wrapper {
  position: absolute;
  height: 12.5%;
  width: 100%;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.t-shirt-wrapper {
  top: 0;
  bottom: 87.5%;
  background-color: var(--color-dimgray-300);
  display: none;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper {
  background-color: var(--color-dimgray-200);
  display: flex;
}
.shirt-wrapper {
  top: 12.5%;
  bottom: 75%;
}
.sweater-wrapper {
  top: 25%;
  bottom: 62.5%;
}
.hoodie-wrapper {
  top: 37.5%;
  bottom: 50%;
}
.jacket-wrapper {
  top: 50%;
  bottom: 37.5%;
}
.bomber-wrapper {
  top: 62.5%;
  bottom: 25%;
}
.polo-wrapper {
  top: 75%;
  bottom: 12.5%;
}
.croptop-wrapper {
  top: 87.5%;
  bottom: 0;
}
.component-2default,
.t-shirt-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.t-shirt-container {
  height: 12.5%;
  bottom: 87.5%;
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-2default {
  height: 100%;
  bottom: 0;
}
.menu {
  position: relative;
  width: 174px;
  height: 312px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
.frame-child4 {
  position: relative;
  width: 118px;
  height: 105px;
  flex-shrink: 0;
}
.bn-ng1,
.frame-child5 {
  position: absolute;
  top: 7px;
  left: 96px;
}
.frame-child5 {
  top: -30px;
  left: 490px;
}
.bn-ng-nhp-thnh-cng-parent {
  position: relative;
  width: 733px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  height: 172px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-47xl) var(--padding-25xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper3 {
  position: relative;
  width: 908px;
  height: 172px;
  flex-shrink: 0;
}
.frame-top,
.group-wrapper82 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-wrapper82 {
  padding: var(--padding-3xs);
}
.frame-top {
  position: relative;
  overflow-x: auto;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
