.t-shirt6 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.bomber-container,
.croptop-container,
.hoodie-container,
.jacket-container,
.polo-container,
.shirt-container,
.sweater-container,
.t-shirt-frame {
  position: absolute;
  height: 12.5%;
  width: 100%;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.t-shirt-frame {
  top: 0;
  bottom: 87.5%;
  background-color: var(--color-dimgray-300);
  display: none;
}
.bomber-container,
.croptop-container,
.hoodie-container,
.jacket-container,
.polo-container,
.shirt-container,
.sweater-container {
  background-color: var(--color-dimgray-200);
  display: flex;
}
.shirt-container {
  top: 12.5%;
  bottom: 75%;
}
.sweater-container {
  top: 25%;
  bottom: 62.5%;
}
.hoodie-container {
  top: 37.5%;
  bottom: 50%;
}
.jacket-container {
  top: 50%;
  bottom: 37.5%;
}
.bomber-container {
  top: 62.5%;
  bottom: 25%;
}
.polo-container {
  top: 75%;
  bottom: 12.5%;
}
.croptop-container {
  top: 87.5%;
  bottom: 0;
}
.component-2default1,
.t-shirt-wrapper1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.t-shirt-wrapper1 {
  height: 12.5%;
  bottom: 87.5%;
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-2default1 {
  height: 100%;
  bottom: 0;
}
.croptop-frame {
  position: absolute;
}
.property-1default {
  position: absolute;
  top: 10px;
  left: 27px;
  width: 174px;
  height: 312px;
}
.croptop-frame {
  height: 12.5%;
  width: 100%;
  top: 87.5%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.polo-wrapper1 {
  position: absolute;
}
.property-1variant9 {
  position: absolute;
  top: 460px;
  left: 758px;
  width: 174px;
  height: 312px;
}
.polo-wrapper1 {
  height: 12.5%;
  width: 100%;
  top: 75%;
  right: 0;
  bottom: 12.5%;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.bomber-wrapper2 {
  position: absolute;
}
.property-1variant8 {
  position: absolute;
  top: 441px;
  left: 967px;
  width: 174px;
  height: 312px;
}
.bomber-wrapper2 {
  height: 12.5%;
  width: 100%;
  top: 62.5%;
  right: 0;
  bottom: 25%;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.jacket-wrapper3 {
  position: absolute;
}
.property-1variant7 {
  position: absolute;
  top: 426px;
  left: 1240px;
  width: 174px;
  height: 312px;
}
.jacket-wrapper3 {
  height: 12.5%;
  width: 100%;
  top: 50%;
  right: 0;
  bottom: 37.5%;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.hoodie-wrapper4 {
  position: absolute;
}
.property-1variant6 {
  position: absolute;
  top: 30px;
  left: 1205px;
  width: 174px;
  height: 312px;
}
.hoodie-wrapper4 {
  height: 12.5%;
  width: 100%;
  top: 37.5%;
  right: 0;
  bottom: 50%;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1variant5 {
  position: absolute;
  top: 30px;
  left: 975px;
  width: 174px;
  height: 312px;
}
.sweater-wrapper5 {
  position: absolute;
  height: 12.5%;
  width: 100%;
  top: 25%;
  right: 0;
  bottom: 62.5%;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1variant4,
.shirt-wrapper6 {
  position: absolute;
  top: 25px;
  left: 758px;
  width: 174px;
  height: 312px;
}
.shirt-wrapper6 {
  height: 12.5%;
  width: 100%;
  top: 12.5%;
  right: 0;
  bottom: 75%;
  left: 0;
  background-color: rgba(6, 6, 6, 0.86);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1variant41 {
  position: absolute;
  top: 20px;
  left: 514px;
  width: 174px;
  height: 312px;
}
.t-shirt-wrapper17 {
  position: absolute;
  height: 12.5%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 87.5%;
  left: 0;
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-21 {
  position: absolute;
}
.property-1variant2 {
  position: absolute;
  top: 20px;
  left: 271px;
  width: 174px;
  height: 312px;
}
.component-21 {
  top: 62px;
  left: 18px;
  border-radius: var(--br-8xs);
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 1517px;
  height: 963px;
  overflow: hidden;
}
.setup-menu {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
