.14_33 { 
	overflow:hidden;
}.e14_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:1024px;
	height:1647px;
	position:absolute;
}.e14_35 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:48px;
	position:absolute;
	left:381px;
	top:1737px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e14_54 { 
	width:944px;
	height:86px;
	position:absolute;
	left:40px;
	top:26px;
}.e14_55 { 
	width:944px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_56 { 
	width:944px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_57 { 
	background-color:rgba(241.00000083446503, 240.00000089406967, 236.00000113248825, 1);
	width:944px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e14_58 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:50px;
	position:absolute;
	left:44px;
	top:18px;
	font-family:Jockey One;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e14_59 { 
	width:172.1999969482422px;
	height:41px;
	position:absolute;
	left:765px;
	top:22px;
}.e14_60 { 
	width:48.02857208251953px;
	height:36.31428527832031px;
	position:absolute;
	left:0px;
	top:3.5142858028411865px;
}.e14_61 { 
	background-color:rgba(0, 0, 0, 1);
	width:34.86048889160156px;
	height:26.356416702270508px;
	position:absolute;
	left:6.84373664855957px;
	top:5.176044940948486px;
}.e14_62 { 
	width:37.485713958740234px;
	height:41px;
	position:absolute;
	left:65.5999984741211px;
	top:0px;
}.e14_63 { 
	background-color:rgba(0, 0, 0, 1);
	width:24.209524154663086px;
	height:29.00550079345703px;
	position:absolute;
	left:6.638094902038574px;
	top:5.5520830154418945px;
}.e14_64 { 
	width:44.514286041259766px;
	height:37.485713958740234px;
	position:absolute;
	left:127.68571472167969px;
	top:2.3428571224212646px;
}.e14_65 { 
	background-color:rgba(0, 0, 0, 1);
	width:35.240478515625px;
	height:29.676189422607422px;
	position:absolute;
	left:1.8547618389129639px;
	top:4.685714244842529px;
}.e14_66 { 
	width:447px;
	height:33px;
	position:absolute;
	left:248px;
	top:26px;
}.e14_67 { 
	color:rgba(0, 0, 0, 1);
	width:59px;
	height:29px;
	position:absolute;
	left:0px;
	top:2px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e14_68 { 
	color:rgba(0, 0, 0, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:183px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e14_69 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:29px;
	position:absolute;
	left:377px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e14_70 { 
	background-color:rgba(0, 0, 0, 1);
	width:1024px;
	height:501px;
	position:absolute;
	left:0px;
	top:1146px;
}.e14_71 { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:19px;
	position:absolute;
	left:83px;
	top:1536px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e14_72 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:19px;
	position:absolute;
	left:83px;
	top:1491px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e14_73 { 
	color:rgba(255, 255, 255, 1);
	width:605px;
	height:66px;
	position:absolute;
	left:39px;
	top:1187px;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e14_74 { 
	width:35px;
	height:28px;
	position:absolute;
	left:36px;
	top:1239px;
}.e14_75 { 
	background-color:rgba(251.81250303983688, 251.81250303983688, 251.81250303983688, 1);
	width:23.33333396911621px;
	height:22.89583396911621px;
	position:absolute;
	left:5.833333492279053px;
	top:2.3333332538604736px;
}.e14_76 { 
	width:29px;
	height:30px;
	position:absolute;
	left:46px;
	top:1476px;
}.e14_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:21.75px;
	height:22.5px;
	position:absolute;
	left:3.625px;
	top:3.75px;
}.e14_78 { 
	transform: rotate(89.18154452001811deg);
	width:355.03521728515625px;
	height:0px;
	position:absolute;
	left:40px;
	top:1193px;
}.14_78 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e14_79 { 
	width:24px;
	height:24px;
	position:absolute;
	left:534px;
	top:1544px;
}.e14_80 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:25px;
	height:4.669899940490723px;
	position:absolute;
	left:41px;
	top:841.0736083984375px;
}.e14_81 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:160px;
	position:absolute;
	left:80px;
	top:1268px;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e14_82 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:162px;
	position:absolute;
	left:466px;
	top:1235px;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}.e14_83 { 
	width:268px;
	height:28px;
	position:absolute;
	left:715px;
	top:1268px;
}.e14_84 { 
	width:268px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_85 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:134px;
	height:17px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e14_86 { 
	width:52px;
	height:28px;
	position:absolute;
	left:216px;
	top:0px;
}.e14_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.e14_88 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:19px;
	position:absolute;
	left:12px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.14_89 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e14_89 { 
	width:199px;
	height:0px;
	position:absolute;
	left:0px;
	top:28px;
}.e14_90 { 
	color:rgba(253.93750101327896, 249.70521211624146, 249.70521211624146, 1);
	width:250px;
	height:24px;
	position:absolute;
	left:714px;
	top:1234px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e14_100 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:29px;
	position:absolute;
	left:59px;
	top:872px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e14_119 { 
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:49px;
	position:absolute;
	left:161px;
	top:205px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e14_120 { 
	color:rgba(0, 0, 0, 1);
	width:167px;
	height:44px;
	position:absolute;
	left:679px;
	top:207px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e14_124 { 
	width:703px;
	height:1.0001225471496582px;
	position:absolute;
	left:161px;
	top:260.99993896484375px;
}.e14_121 { 
	transform: rotate(-0.000005008956538086317deg);
	width:703px;
	height:0px;
	position:absolute;
	left:0px;
	top:0.0000614582168054767px;
}.14_121 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e14_123 { 
	transform: rotate(-0.000005008956538086317deg);
	width:221px;
	height:0px;
	position:absolute;
	left:0px;
	top:1.0001225471496582px;
}.14_123 { 
	border:3px solid rgba(255, 0, 0, 1);
}.e14_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:703px;
	height:62px;
	position:absolute;
	left:161px;
	top:340px;
}.14_125 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:703px;
	height:62px;
	position:absolute;
	left:161px;
	top:480px;
}.15_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e14_126 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:39px;
	position:absolute;
	left:161px;
	top:294px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_4 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:29px;
	position:absolute;
	left:682px;
	top:560px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e15_3 { 
	color:rgba(0, 0, 0, 1);
	width:227px;
	height:39px;
	position:absolute;
	left:161px;
	top:434px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_27 { 
	width:579px;
	height:39px;
	position:absolute;
	left:223px;
	top:1020px;
}.e15_21 { 
	color:rgba(0, 0, 0, 1);
	width:347px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_22 { 
	color:rgba(255, 0, 0, 1);
	width:229px;
	height:39px;
	position:absolute;
	left:350px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_12 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:39px;
	position:absolute;
	left:466px;
	top:722px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_9 { 
	width:703px;
	height:77px;
	position:absolute;
	left:163px;
	top:607px;
}.e15_7 { 
	background-color:rgba(0, 0, 0, 1);
	width:703px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}.15_7 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_8 { 
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:39px;
	position:absolute;
	left:267px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_13 { 
	width:703px;
	height:77px;
	position:absolute;
	left:161px;
	top:795px;
}.e15_14 { 
	background-color:rgba(43.00000123679638, 90.00000223517418, 152.0000061392784, 1);
	width:703px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}.15_14 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_15 { 
	color:rgba(255, 255, 255, 1);
	width:154px;
	height:39px;
	position:absolute;
	left:267px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e15_16 { 
	width:703px;
	height:77px;
	position:absolute;
	left:163px;
	top:904px;
}.e15_17 { 
	background-color:rgba(244.0000006556511, 61.00000016391277, 37.00000159442425, 1);
	width:703px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}.15_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_18 { 
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:39px;
	position:absolute;
	left:267px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.15_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_10 { 
	width:295px;
	height:0px;
	position:absolute;
	left:161px;
	top:749px;
}.15_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_11 { 
	width:295px;
	height:0px;
	position:absolute;
	left:569px;
	top:745px;
}.15_129 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e15_129 { 
	width:30px;
	height:0px;
	position:absolute;
	left:877px;
	top:91px;
}.e18_11 { 
	background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
	width:25px;
	height:19px;
	position:absolute;
	left:51px;
	top:1532px;
}.e19_21 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:31px;
	position:absolute;
	left:83px;
	top:1452px;
	font-family:Jockey One;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}