.icoutline-shopping-bag1,
.material-symbolsmail1 {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.material-symbolsmail1 {
  top: 816px;
}
.icoutline-shopping-bag1 {
  top: 120px;
}
.group-child98 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1512px;
  height: 112px;
}
.hansmode3 {
  position: absolute;
  top: 32.83px;
  left: 100px;
  display: inline-block;
  font-weight: 700;
  width: 176px;
  height: 46.34px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.8px #8ca657;
  cursor: pointer;
}
.rectangle-parent39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-corbel);
}
.sn-phm3 {
  position: absolute;
  height: 103.57%;
  width: 118.82%;
  top: -1.79%;
  left: 0;
  display: inline-block;
}
.hans-mode-group1,
.lin-h1,
.sn-phm2 {
  position: absolute;
  top: 45px;
  height: 21px;
}
.sn-phm2 {
  left: 549px;
  width: 108px;
}
.hans-mode-group1,
.lin-h1 {
  display: inline-block;
}
.lin-h1 {
  left: 709px;
  width: 79px;
}
.hans-mode-group1 {
  left: 840px;
  width: 202px;
}
.group-wrapper26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
}
.trang-ch-inner18 {
  width: 1512px;
  height: 112px;
  font-size: var(--font-size-lg);
  font-family: var(--font-paytone-one);
}
.group-child99 {
  position: absolute;
}
.home2,
.trang-ch-inner18 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child99 {
  top: 26px;
  left: 2px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 52px;
  height: 2px;
}
.home-container {
  position: absolute;
  top: 45px;
  left: 433px;
  width: 56px;
  height: 27px;
  font-size: var(--font-size-lg);
  font-family: var(--font-paytone-one);
}
.group-child100 {
  position: absolute;
  top: 75.5px;
  left: 4.5px;
  border-top: 3px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 267px;
  height: 3px;
}
.best-saler-group {
  position: absolute;
  top: 921px;
  left: 618px;
  width: 279px;
  height: 77px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-paytone-one);
}
.group-child101 {
  position: absolute;
  top: 77px;
  left: 6px;
  width: 323px;
  height: 3px;
}
.new-arrival-group {
  position: absolute;
  top: 3717px;
  left: 577px;
  width: 331px;
  height: 78.5px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-paytone-one);
}
.about-group,
.group-child102 {
  position: absolute;
}
.group-child102 {
  top: 77.5px;
  left: 6px;
  width: 159px;
  height: 3px;
}
.about-group {
  top: 6673px;
  left: 669px;
  width: 173px;
  height: 79px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-paytone-one);
}
.frame-inner,
.rectangle-frame {
  position: absolute;
  left: 0;
  width: 347.19px;
  height: 458.11px;
}
.sale23 {
  position: absolute;
}
.frame-inner {
  top: 0;
  object-fit: cover;
}
.rectangle-frame {
  top: 7.92px;
}
.sale23 {
  top: 0;
  left: 381.11px;
  display: inline-block;
  width: 61.55px;
  height: 35.06px;
  transform: rotate(47.74deg);
  transform-origin: 0 0;
}
.frame-container {
  position: absolute;
  top: 35.97px;
  left: 0;
  width: 422.49px;
  height: 466.03px;
}
.group-child103 {
  left: 0;
}
.group-child103,
.sale24 {
  position: absolute;
}
.group-child103 {
  top: 51.95px;
  width: 110.1px;
  height: 102.16px;
}
.sale24 {
  top: 58.08px;
  left: 64.5px;
  display: inline-block;
  width: 69.44px;
  height: 31.91px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.vector-parent17 {
  position: absolute;
  top: 0;
  left: 314.12px;
  width: 158.19px;
  height: 171.44px;
}
.group-parent32,
.trang-ch-inner19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 472.31px;
  height: 502px;
}
.trang-ch-inner19 {
  top: 1070px;
  left: 100px;
  cursor: pointer;
}
.group-child104 {
  position: absolute;
  top: 7.92px;
  left: 0;
  width: 347.19px;
  height: 458.11px;
  object-fit: cover;
}
.group-parent33 {
  top: 1772px;
  left: 100px;
  width: 472.31px;
  height: 502px;
}
.group-child112,
.group-parent33 {
  position: absolute;
}
.group-parent34 {
  top: 3832px;
}
.group-parent34,
.group-parent35,
.group-parent36 {
  position: absolute;
  left: 100px;
  width: 472.31px;
  height: 502px;
}
.group-parent35 {
  top: 4518px;
}
.group-parent36 {
  top: 5205px;
}
.group-child112 {
  top: 7.93px;
  left: 0;
  width: 347.7px;
  height: 458.78px;
  object-fit: cover;
}
.sale30 {
  position: absolute;
  top: 0;
  left: 381.67px;
  display: inline-block;
  width: 61.64px;
  height: 35.11px;
  transform: rotate(47.74deg);
  transform-origin: 0 0;
}
.group-child113,
.rectangle-parent44 {
  position: absolute;
  left: 0;
}
.rectangle-parent44 {
  top: 36.03px;
  width: 423.12px;
  height: 466.71px;
}
.sale31 {
  position: absolute;
}
.group-child113 {
  top: 52.03px;
  width: 110.26px;
  height: 102.31px;
}
.sale31 {
  top: 58.17px;
  left: 64.59px;
  display: inline-block;
  width: 72.11px;
  height: 31.96px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.vector-parent22 {
  position: absolute;
  top: 0;
  left: 313.58px;
  width: 158.42px;
  height: 171.69px;
}
.group-parent37 {
  top: 1069px;
}
.group-parent37,
.group-parent38,
.group-parent39 {
  position: absolute;
  left: 544px;
  width: 472px;
  height: 502.74px;
}
.group-parent38 {
  top: 1771px;
}
.group-parent39 {
  top: 3831px;
}
.group-child119,
.group-child120 {
  position: absolute;
  top: 0;
  left: 347px;
  width: 347.19px;
  height: 458.11px;
  object-fit: cover;
}
.group-child120 {
  left: 694px;
}
.group-wrapper27,
.rectangle-parent47 {
  position: absolute;
  left: 0;
}
.rectangle-parent47 {
  top: 0;
  width: 1041.19px;
  height: 458.11px;
}
.group-wrapper27 {
  top: 44px;
  width: 347px;
  height: 421px;
  overflow: hidden;
}
.group-child121,
.sale35 {
  position: absolute;
  top: 51.95px;
  left: 312.12px;
  width: 110.1px;
  height: 102.16px;
}
.sale35 {
  top: 58.08px;
  left: 376.62px;
  display: inline-block;
  width: 69.44px;
  height: 31.91px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.instance-group {
  top: 1068px;
  left: 100px;
  width: 470.31px;
  height: 465px;
}
.group-child126,
.instance-group {
  position: absolute;
}
.group-parent40,
.group-parent41 {
  position: absolute;
  top: 4517px;
  left: 544px;
  width: 472px;
  height: 502.74px;
}
.group-parent41 {
  top: 5204px;
}
.group-child126 {
  top: 7.94px;
  left: 0;
  width: 347.88px;
  height: 459.02px;
  object-fit: cover;
}
.sale38 {
  position: absolute;
  top: 0;
  left: 381.86px;
  display: inline-block;
  width: 61.67px;
  height: 35.13px;
  transform: rotate(47.74deg);
  transform-origin: 0 0;
}
.group-child127,
.rectangle-parent50 {
  position: absolute;
  left: 0;
}
.rectangle-parent50 {
  top: 36.04px;
  width: 423.34px;
  height: 466.96px;
}
.sale39 {
  position: absolute;
}
.group-child127 {
  top: 52.06px;
  width: 110.32px;
  height: 102.37px;
}
.sale39 {
  top: 58.2px;
  left: 64.63px;
  display: inline-block;
  width: 69.27px;
  height: 31.97px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.group-parent42,
.vector-parent27 {
  position: absolute;
}
.vector-parent27 {
  top: 0;
  left: 313.74px;
  width: 158.5px;
  height: 171.78px;
}
.group-parent42 {
  top: 1069px;
  left: 988px;
  width: 472.25px;
  height: 503px;
}
.group-parent43 {
  top: 1771px;
}
.group-parent43,
.group-parent44,
.group-parent45,
.group-parent46 {
  position: absolute;
  left: 988px;
  width: 472.25px;
  height: 503px;
}
.group-parent44 {
  top: 3831px;
}
.group-parent45 {
  top: 4517px;
}
.group-parent46 {
  top: 5204px;
}
.aircraft-focus-tee1 {
  left: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
}
.b34,
.b35 {
  top: 0;
}
.b34,
.b35,
.parent16 {
  position: absolute;
}
.b34 {
  left: 0;
  text-decoration: line-through;
  opacity: 0.5;
}
.b35 {
  left: 125px;
}
.parent16 {
  top: 44px;
  left: 15px;
  width: 217px;
  height: 32px;
}
.aircraft-focus-tee-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 76px;
}
.group-child136 {
  top: 3px;
  left: 0;
}
.group-child136,
.group-child137,
.group-child138 {
  position: absolute;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.group-child137 {
  top: 0;
  left: 81px;
}
.group-child138 {
  top: 0;
  left: 162px;
}
.rectangle-parent55 {
  position: absolute;
  top: 88px;
  left: 18px;
  width: 210px;
  height: 51px;
}
.group-parent47,
.trang-ch-inner20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 139px;
}
.trang-ch-inner20 {
  top: 1562px;
  left: 149px;
  text-align: center;
  color: var(--color-black);
}
.rabbit-bag-tee1 {
  position: absolute;
  top: 0;
  left: 12px;
}
.parent17,
.rabbit-bag-tee-group {
  position: absolute;
  top: 44px;
  left: 0;
  width: 217px;
  height: 32px;
}
.rabbit-bag-tee-group {
  top: 0;
  height: 76px;
}
.rectangle-parent56 {
  position: absolute;
  top: 88px;
  left: 3px;
  width: 210px;
  height: 51px;
}
.group-parent48,
.trang-ch-inner21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 217px;
  height: 139px;
}
.trang-ch-inner21 {
  top: 2264px;
  left: 164px;
  text-align: center;
  color: var(--color-black);
}
.b39 {
  position: absolute;
  top: 0;
}
.beans-tee1 {
  top: 0;
  left: 45px;
}
.beans-tee1,
.parent18 {
  position: absolute;
}
.b39 {
  left: 119px;
}
.beans-tee-group,
.parent18 {
  left: 0;
  width: 224px;
}
.parent18 {
  top: 44px;
  height: 32px;
}
.beans-tee-group {
  position: absolute;
  top: 0;
  height: 76px;
}
.group-parent49,
.trang-ch-inner22 {
  top: 0;
  left: 0;
  position: absolute;
  width: 224px;
  height: 139px;
}
.trang-ch-inner22 {
  top: 4324px;
  left: 162px;
  text-align: center;
  color: var(--color-black);
}
.candy-tee1 {
  position: absolute;
  top: 0;
  left: 42px;
}
.group-child146,
.group-child147 {
  position: absolute;
  top: 0;
  left: 81px;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.group-child147 {
  left: 162px;
}
.trang-ch-inner23 {
  position: absolute;
  top: 5010px;
  left: 162px;
  width: 224px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.guava-tee1 {
  position: absolute;
  top: 0;
  left: 43px;
}
.trang-ch-inner24 {
  position: absolute;
  top: 5697px;
  left: 162px;
  width: 224px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.cake-tee-011 {
  position: absolute;
  top: 0;
  left: 36px;
}
.trang-ch-inner25 {
  position: absolute;
  top: 1562px;
  left: 609px;
  width: 217px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.rainbow-tee1 {
  position: absolute;
  top: 0;
  left: 24px;
}
.trang-ch-inner26 {
  position: absolute;
  top: 2264px;
  left: 609px;
  width: 217px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.bee-tee1 {
  position: absolute;
  top: 0;
  left: 63px;
}
.trang-ch-inner27 {
  top: 4324px;
}
.trang-ch-inner27,
.trang-ch-inner28,
.trang-ch-inner29 {
  position: absolute;
  left: 606px;
  width: 224px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.trang-ch-inner28 {
  top: 5010px;
}
.trang-ch-inner29 {
  top: 5697px;
}
.cheese-tee1 {
  position: absolute;
  top: 0;
  left: 41px;
}
.parent27,
.trang-ch-inner30 {
  position: absolute;
  width: 217px;
}
.trang-ch-inner30 {
  top: 1562px;
  left: 1053px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.parent27 {
  top: 44px;
  left: 10px;
  height: 32px;
}
.rolling-paint-tee-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 76px;
}
.rectangle-parent66 {
  position: absolute;
  top: 88px;
  left: 13px;
  width: 210px;
  height: 51px;
}
.group-parent58,
.trang-ch-inner31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 139px;
}
.trang-ch-inner31 {
  top: 2264px;
  left: 1043px;
  text-align: center;
  color: var(--color-black);
}
.butterfly-tee1 {
  position: absolute;
  top: 0;
  left: 18px;
}
.trang-ch-inner32 {
  position: absolute;
  top: 4324px;
  left: 1050px;
  width: 224px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.eggplant-tee1 {
  position: absolute;
  top: 0;
  left: 21px;
}
.trang-ch-inner33 {
  position: absolute;
  top: 5010px;
  left: 1050px;
  width: 224px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.lemon-03-tee1 {
  position: absolute;
  top: 0;
  left: 23px;
}
.trang-ch-inner34 {
  position: absolute;
  top: 5697px;
  left: 1050px;
  width: 224px;
  height: 139px;
  text-align: center;
  color: var(--color-black);
}
.vector-icon7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1 {
  position: absolute;
  top: -21.74%;
  left: 82.14%;
}
.frame-wrapper,
.group-wrapper45 {
  position: absolute;
  left: 0;
  width: 28px;
  height: 32.2px;
}
.group-wrapper45 {
  top: 0;
}
.frame-wrapper {
  top: 4px;
}
.twemojiflag-vietnam-icon1,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 0;
  left: 168px;
  width: 34px;
  height: 43px;
  overflow: hidden;
}
.vector-icon8,
.vector-icon9 {
  height: 72.21%;
  width: 13.37%;
  top: 9.3%;
  right: 59.41%;
  bottom: 18.49%;
  left: 27.23%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon9 {
  height: 100%;
  width: 65.71%;
  top: 0;
  right: 34.29%;
  bottom: 0;
  left: 0;
}
.b64,
.group-child181 {
  position: absolute;
}
.group-child181 {
  top: 0;
  left: 12px;
  width: 23px;
  height: 23px;
}
.b64 {
  top: 4.06px;
  left: 17.36px;
  display: inline-block;
  width: 11.5px;
  height: 16.43px;
}
.vector-parent33 {
  cursor: pointer;
}
.group-wrapper46 {
  position: absolute;
}
.group-wrapper47,
.vector-parent33 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper46 {
  height: 85.58%;
  width: 17.33%;
  top: 2.33%;
  right: 28.71%;
  bottom: 12.09%;
  left: 53.96%;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-noto-sans-telugu);
}
.group-wrapper43,
.trang-ch-inner35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 202px;
  height: 43px;
}
.trang-ch-inner35 {
  top: 36px;
  left: 1210px;
  font-size: var(--font-size-lg);
  font-family: var(--font-paytone-one);
}
.trang-ch-child10,
.trang-ch-child11 {
  position: absolute;
  top: 2473px;
  left: 708px;
  width: 96px;
  height: 21px;
}
.trang-ch-child11 {
  top: 5929px;
}
.group-child182,
.trang-ch-child12 {
  position: absolute;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.trang-ch-child12 {
  top: 6022px;
  background-color: var(--color-cadetblue);
  width: 1512px;
  height: 540px;
}
.group-child182 {
  top: 0;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 232.79px;
  height: 74.4px;
}
.shop-now1 {
  position: absolute;
  top: 24.8px;
  left: 45.6px;
  display: inline-block;
  width: 134.4px;
  height: 24.8px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent70 {
  position: absolute;
  top: 6388.51px;
  left: 127.92px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 232.79px;
  height: 74.4px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.b65 {
  top: 0;
  left: 0;
}
.b65,
.days2,
.group-child183 {
  position: absolute;
}
.group-child183 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 104.87px;
  height: 107.28px;
}
.b65,
.days2 {
  display: inline-block;
  width: 53.04px;
  height: 47.01px;
}
.days2 {
  top: 50.63px;
  left: 3.62px;
  font-size: var(--font-size-base);
  width: 45.81px;
  height: 22.9px;
}
.parent31 {
  position: absolute;
  top: 16.88px;
  left: 25.31px;
  width: 53.04px;
  height: 73.53px;
}
.rectangle-parent71 {
  position: absolute;
  top: 6238.96px;
  left: 127.92px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 104.87px;
  height: 107.28px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.b66,
.group-child184 {
  position: absolute;
  top: 0;
}
.group-child184 {
  left: 0;
  background-color: var(--color-gray-100);
  width: 104.87px;
  height: 106.06px;
}
.b66 {
  left: 3.58px;
  display: inline-block;
  width: 52.44px;
  height: 46.48px;
}
.house1,
.parent32 {
  position: absolute;
  width: 58.39px;
}
.house1 {
  top: 50.05px;
  left: 0;
  font-size: var(--font-size-base);
  display: inline-block;
  height: 22.64px;
}
.parent32 {
  top: 16.68px;
  left: 22.64px;
  height: 72.69px;
}
.rectangle-parent72 {
  position: absolute;
  top: 6239.57px;
  left: 255.84px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 104.87px;
  height: 106.06px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.b67,
.days3 {
  position: absolute;
  top: 0;
  left: 1.19px;
  display: inline-block;
  width: 45.29px;
  height: 46.48px;
}
.days3 {
  top: 50.05px;
  left: 0;
  font-size: var(--font-size-base);
  height: 22.64px;
}
.parent33 {
  position: absolute;
  top: 16.68px;
  left: 29.79px;
  width: 46.48px;
  height: 72.69px;
}
.rectangle-parent73 {
  position: absolute;
  top: 6239.57px;
  left: 383.76px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 104.87px;
  height: 106.06px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.sale-off-451 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 375.7px;
  height: 77.21px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #fff;
}
.group-child186 {
  position: absolute;
  top: 88.97px;
  left: 3.46px;
  width: 372.24px;
  height: 3px;
}
.sale-off-45-group {
  position: absolute;
  top: 6059.23px;
  left: 564.7px;
  width: 375.7px;
  height: 90.47px;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-paytone-one);
}
.trang-ch-child13 {
  top: 6043px;
  left: 1020px;
  height: 324px;
}
.trang-ch-child13,
.trang-ch-child14,
.trang-ch-child15 {
  position: absolute;
  width: 264px;
  object-fit: cover;
}
.trang-ch-child14 {
  top: 6137px;
  left: 1147px;
  height: 323px;
}
.trang-ch-child15 {
  top: 6188px;
  left: 955px;
  height: 324px;
}
.trang-ch-child16 {
  position: absolute;
  top: 6036px;
  left: 34px;
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 1443px;
  height: 511px;
}
.trang-ch-child17 {
  position: absolute;
  top: 6619px;
  left: 142px;
  width: 42px;
  height: 36px;
}
.hans-mode3 {
  font-family: var(--font-times-new-roman);
}
.hans-mode-l-local-brand-c1 {
  margin: 0;
}
.hans-mode-l-container1 {
  position: relative;
  display: inline-block;
  width: 1112px;
  flex-shrink: 0;
}
.hans-mode-l-local-brand-c-container {
  position: absolute;
  top: 6798px;
  left: 190px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: justify;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
.trang-ch-child18 {
  position: absolute;
  top: 2733px;
  left: 0;
  width: 1512px;
  height: 830px;
  overflow-x: auto;
}
.trang-ch-child19 {
  position: absolute;
  top: 6051px;
  left: 50px;
  width: 50px;
  height: 50px;
}
.trang-ch-child20 {
  position: absolute;
  top: 112px;
  left: -44px;
  background-color: var(--color-cadetblue);
  width: 1606px;
  height: 735px;
}
.trang-ch-child21,
.trang-ch-child22 {
  position: absolute;
  top: 112px;
  left: 0;
  object-fit: cover;
}
.trang-ch-child21 {
  width: 1600px;
  height: 727px;
  opacity: 0.5;
}
.trang-ch-child22 {
  width: 1606px;
  height: 735px;
}
.hansmode5 {
  position: absolute;
  top: 368px;
  left: 474px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-paytone-one);
  text-shadow: 13px 10px 4px #000;
  -webkit-text-stroke: 2.5px red;
}
.tri-n-khch-hng-1-11 {
  left: 1512px;
}
.tri-n-khch-hng-1-11,
.tri-n-khch-hng-1-21,
.tri-n-khch-hng-1-31,
.tri-n-khch-hng-1-41 {
  position: absolute;
  top: 0;
  width: 1512px;
  height: 504px;
  object-fit: cover;
}
.tri-n-khch-hng-1-41 {
  left: 0;
}
.tri-n-khch-hng-1-21 {
  left: 3024px;
}
.tri-n-khch-hng-1-31 {
  left: 4536px;
}
.tri-n-khch-hng-1-1-group {
  position: absolute;
  top: 7473px;
  left: 0;
  width: 1512px;
  height: 504px;
  overflow-x: auto;
}
.ng-k-nhn1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 451px;
}
.group-child187 {
  position: absolute;
  top: 80.5px;
  left: 4.5px;
  border-top: 3px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 448px;
  height: 3px;
}
.ng-k-nhn-tin-group {
  position: absolute;
  top: 0;
  left: 523px;
  width: 451px;
  height: 82px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-paytone-one);
}
.nhp-a-ch1 {
  position: absolute;
  top: 109px;
  left: 403px;
  display: inline-block;
  width: 707px;
}
.group-child188 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 187px;
  height: 76px;
}
.ng-k2 {
  position: absolute;
  top: 22px;
  left: 47px;
  display: inline-block;
  width: 93px;
}
.group-wrapper49,
.rectangle-parent74 {
  position: absolute;
  width: 187px;
  height: 76px;
}
.rectangle-parent74 {
  top: 0;
  left: 0;
}
.group-wrapper49 {
  top: 164px;
  left: 923px;
  color: var(--color-white);
}
.group-child189 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 582px;
  height: 76px;
}
.nhp-email-ca1 {
  position: absolute;
  top: 27px;
  left: 11px;
  display: inline-block;
  width: 174px;
  opacity: 0.5;
}
.rectangle-parent75 {
  position: absolute;
  top: 164px;
  left: 323px;
  width: 582px;
  height: 76px;
  font-size: var(--font-size-base);
}
.group-child190 {
  position: absolute;
  top: 0;
  left: 1px;
  background-color: var(--color-black);
  width: 1512px;
  height: 653px;
}
.social-network1 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 194px;
}
.bi-vit3 {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.bi-vit2 {
  top: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 94px;
  height: 28px;
}
.bi-vit-group,
.bi-vit2,
.tuyn-dng2 {
  position: absolute;
  left: 0;
}
.tuyn-dng2 {
  top: 32px;
}
.bi-vit-group {
  top: 44px;
  width: 126px;
  height: 55px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.group-wrapper50,
.social-network-group {
  position: absolute;
  width: 195px;
  height: 99px;
}
.social-network-group {
  top: 0;
  left: 0;
}
.group-wrapper50 {
  top: 53px;
  left: 767px;
}
.danh-mc1,
.t-shirt4 {
  position: absolute;
  top: 0;
}
.danh-mc1 {
  left: 0;
  display: inline-block;
  width: 117px;
}
.t-shirt4 {
  left: 1px;
  cursor: pointer;
}
.hoodie3 {
  position: absolute;
}
.shirt3,
.sweater3 {
  position: absolute;
  top: 32px;
  left: 1px;
}
.sweater3 {
  top: 64px;
}
.hoodie3 {
  top: 96px;
  left: 0;
}
.bomber3 {
  position: absolute;
}
.jacket3 {
  top: 128px;
  left: 0;
}
.jacket3,
.polo3 {
  position: absolute;
}
.bomber3 {
  top: 160px;
  left: 1px;
}
.polo3 {
  top: 192px;
  left: 0;
}
.croptop3,
.t-shirt-group {
  position: absolute;
  top: 224px;
  left: 0;
}
.t-shirt-group {
  top: 38px;
  left: 1px;
  width: 124px;
  height: 247px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.danh-mc-group,
.group-wrapper51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 285px;
}
.group-wrapper51 {
  top: 53px;
  left: 545px;
}
.vector-icon10,
.vector-icon11 {
  position: absolute;
  height: 17.32%;
  width: 5.14%;
  top: 41.34%;
  right: 90.18%;
  bottom: 41.34%;
  left: 4.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  height: 57.89%;
  width: 8.19%;
  top: 21.05%;
  right: 91.81%;
  bottom: 21.05%;
  left: 0;
}
.div2 {
  position: absolute;
  top: 0;
  left: 39px;
  display: inline-block;
  width: 132px;
}
.group-wrapper52,
.vector-icon12 {
  position: absolute;
  height: 5.82%;
  width: 11.3%;
  top: 19.3%;
  right: 16.85%;
  bottom: 74.89%;
  left: 71.84%;
}
.vector-icon12 {
  height: 17.32%;
  width: 5.39%;
  top: 41.34%;
  right: 94.61%;
  bottom: 41.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook1 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  width: 132px;
}
.facebook-container,
.group-wrapper53 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 132px;
  height: 38px;
}
.group-wrapper53 {
  height: 5.82%;
  width: 10.77%;
  top: 28.18%;
  right: 17.38%;
  bottom: 66%;
  left: 71.84%;
}
.hans-mode-t-container1,
.thit-k-v1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.thit-k-v1 {
  top: 0;
  width: 271px;
}
.hans-mode-t-container1 {
  top: 38px;
  font-size: var(--font-size-xl);
  font-family: var(--font-baloo-2);
  width: 292px;
}
.group-child191 {
  position: absolute;
}
.group-wrapper54,
.thit-k-v-thi-trang-group {
  position: absolute;
  width: 292px;
  height: 166px;
}
.thit-k-v-thi-trang-group {
  top: 0;
  left: 0;
}
.group-wrapper54 {
  top: 11px;
  left: 47px;
}
.group-child191 {
  height: 20.34%;
  width: 10.62%;
  top: 0;
  right: 89.38%;
  bottom: 79.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent63 {
  position: absolute;
  top: 42px;
  left: 101px;
  width: 339px;
  height: 177px;
}
.hansmodevngmailcom1 {
  position: absolute;
  top: 0;
  left: 42px;
  display: inline-block;
  width: 284px;
}
.vector-icon13 {
  position: absolute;
  height: 42.11%;
  width: 6.13%;
  top: 21.05%;
  right: 93.87%;
  bottom: 36.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hansmodevngmailcom-group {
  position: absolute;
  top: 53px;
  left: 1087px;
  width: 326px;
  height: 38px;
}
.group-child192,
.group-child193 {
  position: absolute;
  top: 358.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1513px;
  height: 1px;
}
.group-child193 {
  top: 383.5px;
  left: -0.5px;
}
.group-child194 {
  position: absolute;
  height: 5.12%;
  width: 27.04%;
  top: 64.78%;
  right: 36.48%;
  bottom: 30.1%;
  left: 36.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home3 {
  left: 0;
  width: 50px;
  cursor: pointer;
}
.chnh-sch1,
.gii-thiu1,
.home3,
.ng-k3,
.ng-nhp1,
.sale45 {
  position: absolute;
  top: 0;
  display: inline-block;
}
.sale45 {
  left: 94px;
  width: 44px;
}
.gii-thiu1 {
  left: 182px;
  width: 88px;
}
.chnh-sch1 {
  left: 314px;
  width: 222px;
}
.ng-k3,
.ng-nhp1 {
  left: 580px;
  width: 68px;
  cursor: pointer;
}
.ng-nhp1 {
  left: 692px;
  width: 97px;
}
.copyright-20231,
.home-parent1 {
  position: absolute;
  font-size: var(--font-size-base);
  font-family: var(--font-paytone-one);
}
.home-parent1 {
  top: 505px;
  left: 362px;
  width: 789px;
  height: 22px;
}
.copyright-20231 {
  top: 564px;
  left: 636px;
  display: inline-block;
  width: 242px;
}
.group-child195 {
  left: 433.5px;
}
.group-child195,
.group-child196,
.group-child197,
.group-child198,
.group-child199 {
  position: absolute;
  top: 509.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.group-child196 {
  left: 524.5px;
}
.group-child197 {
  left: 655.5px;
}
.group-child198 {
  left: 919.5px;
}
.group-child199 {
  left: 1033.5px;
}
.group-parent62,
.rectangle-parent76 {
  position: absolute;
  left: 0;
  width: 1513px;
}
.rectangle-parent76 {
  top: 289px;
  height: 653px;
  color: var(--color-white);
  font-family: var(--font-baloo-bhai);
}
.group-parent62 {
  top: 8086px;
  height: 942px;
  color: var(--color-black);
}
.triu-vn-hon1 {
  position: absolute;
  top: 45px;
  left: 1061px;
  font-size: var(--font-size-lg);
  font-family: var(--font-paytone-one);
}
.trang-ch1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9008px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-telugu);
}
.group-child95 {
  position: absolute;
  top: 71px;
  left: 0;
  background-color: var(--color-dimgray-400);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 174px;
  height: 37px;
}
.ng-xut {
  position: absolute;
  top: 75px;
  left: 42px;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.group-child96 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-400);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 174px;
  height: 34px;
}
.thm-ti-khon {
  position: absolute;
  top: 4px;
  left: 13px;
  letter-spacing: 0.05em;
  line-height: 182.7%;
  cursor: pointer;
}
.group-child97,
.rectangle-parent37 {
  position: absolute;
  left: 0;
  width: 174px;
}
.rectangle-parent37 {
  top: 37px;
  height: 34px;
}
.group-child97 {
  top: 0;
  background-color: var(--color-dimgray-400);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 37px;
}
.triu-vn-hon {
  position: absolute;
  top: 4px;
  left: 35px;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.rectangle-parent36,
.rectangle-parent38 {
  position: absolute;
  left: 0;
  width: 174px;
}
.rectangle-parent38 {
  top: 0;
  height: 37px;
}
.vector-icon6 {
  position: absolute;
}
.rectangle-parent36 {
  top: 60px;
  height: 108px;
}
.vector-icon6 {
  height: 8.62%;
  width: 8.62%;
  top: 40.8%;
  right: 85.63%;
  bottom: 50.57%;
  left: 5.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-root {
  position: relative;
  width: 174px;
  height: 174px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
.t-shirt2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper,
.t-shirt-wrapper {
  position: absolute;
  height: 12.5%;
  width: 100%;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.t-shirt-wrapper {
  top: 0;
  bottom: 87.5%;
  background-color: var(--color-dimgray-300);
  display: none;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper {
  background-color: var(--color-dimgray-200);
  display: flex;
}
.shirt-wrapper {
  top: 12.5%;
  bottom: 75%;
}
.sweater-wrapper {
  top: 25%;
  bottom: 62.5%;
}
.hoodie-wrapper {
  top: 37.5%;
  bottom: 50%;
}
.jacket-wrapper {
  top: 50%;
  bottom: 37.5%;
}
.bomber-wrapper {
  top: 62.5%;
  bottom: 25%;
}
.polo-wrapper {
  top: 75%;
  bottom: 12.5%;
}
.croptop-wrapper {
  top: 87.5%;
  bottom: 0;
}
.component-2default,
.t-shirt-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.t-shirt-container {
  height: 12.5%;
  bottom: 87.5%;
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-2default {
  height: 100%;
  bottom: 0;
}
.menu {
  position: relative;
  width: 174px;
  height: 312px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
