.icoutline-shopping-bag3 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-child321 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 1512px;
  height: 112px;
}
.hansmode9 {
  position: absolute;
  top: 32.83px;
  left: 100px;
  display: inline-block;
  font-weight: 700;
  width: 176px;
  height: 46.34px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.8px #8ca657;
  cursor: pointer;
}
.group-wrapper91,
.trang-chi-tit-sn-phm-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 112px;
}
.trang-chi-tit-sn-phm-inner {
  font-size: var(--font-size-21xl);
  color: var(--color-gray-400);
  font-family: var(--font-corbel);
}
.vector-icon33 {
  position: absolute;
  height: 70.56%;
  width: 13.86%;
  top: 25.93%;
  right: 86.14%;
  bottom: 3.51%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.twemojiflag-vietnam-icon4,
.vector-icon34,
.vector-icon35 {
  position: absolute;
  top: 0;
  left: 168px;
  width: 34px;
  height: 36px;
  overflow: hidden;
}
.vector-icon34,
.vector-icon35 {
  height: 68.04%;
  width: 13.37%;
  top: 25.93%;
  right: 59.41%;
  bottom: 6.03%;
  left: 27.23%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon35 {
  height: 82.1%;
  width: 65.71%;
  top: 17.9%;
  right: 34.29%;
  bottom: 0;
  left: 0;
}
.b102 {
  position: absolute;
  top: 3.4px;
  left: 5.36px;
  display: inline-block;
  width: 11.5px;
  height: 13.75px;
}
.group-wrapper94,
.group-wrapper95,
.vector-parent62 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 19.26px;
}
.group-wrapper94,
.vector-parent62 {
  left: 12px;
}
.vector-parent62 {
  height: 98.23%;
  width: 17.33%;
  top: 1.77%;
  right: 28.71%;
  bottom: 0;
  left: 53.96%;
  cursor: pointer;
}
.group-wrapper93 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.trang-chi-tit-sn-phm-child {
  position: absolute;
  height: 0.66%;
  width: 13.36%;
  top: 0.5%;
  right: 6.61%;
  bottom: 98.83%;
  left: 80.03%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.group-child323 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1512px;
  height: 49px;
}
.home9,
.sn-phm10,
.t-shirt31 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.home9 {
  width: 50px;
  height: 21.24px;
  cursor: pointer;
}
.sn-phm10,
.t-shirt31 {
  width: 91px;
  height: 21px;
}
.t-shirt31 {
  cursor: pointer;
}
.aircraft-focus-tee3 {
  position: relative;
  text-decoration: underline;
  opacity: 0.55;
}
.home-parent7 {
  position: absolute;
  top: 13px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.rectangle-parent126 {
  position: absolute;
  top: 111px;
  left: 0;
  width: 1512px;
  height: 49px;
  font-size: var(--font-size-base);
  font-family: var(--font-paytone-one);
}
.frame-child9 {
  position: relative;
  width: 6.92px;
  height: 14.39px;
  flex-shrink: 0;
  opacity: 0.5;
}
.line-container,
.trang-chi-tit-sn-phm-inner1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-container {
  gap: var(--gap-80xl);
}
.trang-chi-tit-sn-phm-inner1 {
  position: absolute;
  top: 125px;
  left: 69px;
  padding: var(--padding-9xs) var(--padding-12xs);
}
.aircraft-focus-tee4,
.m-t {
  position: absolute;
  top: 195px;
  left: 766px;
  color: var(--color-steelblue);
}
.m-t {
  top: 626px;
  font-size: var(--font-size-xl);
  font-family: var(--font-paytone-one);
}
.material-tici-spandex {
  margin: 0;
}
.size-m {
  font-family: var(--font-times-new-roman);
}
.cc-trng-hp {
  text-decoration: underline;
}
.aircraft-focus-tee-container1 {
  position: absolute;
  top: 663px;
  left: 766px;
  font-size: var(--font-size-base);
  font-family: var(--font-times-new-roman);
}
.sku-tc00193 {
  position: absolute;
  top: 227px;
  left: 766px;
  opacity: 0.5;
}
.trang-chi-tit-sn-phm-child1,
.trang-chi-tit-sn-phm-child2,
.trang-chi-tit-sn-phm-child3,
.trang-chi-tit-sn-phm-child4,
.trang-chi-tit-sn-phm-item {
  position: absolute;
  top: 258.5px;
  left: 765.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 647px;
  height: 1px;
}
.trang-chi-tit-sn-phm-child1,
.trang-chi-tit-sn-phm-child2,
.trang-chi-tit-sn-phm-child3,
.trang-chi-tit-sn-phm-child4 {
  top: 325.5px;
}
.trang-chi-tit-sn-phm-child2,
.trang-chi-tit-sn-phm-child3,
.trang-chi-tit-sn-phm-child4 {
  top: 434.5px;
  left: 764.5px;
  width: 648px;
}
.trang-chi-tit-sn-phm-child3,
.trang-chi-tit-sn-phm-child4 {
  top: 509.5px;
  left: 765.5px;
  width: 647px;
}
.trang-chi-tit-sn-phm-child4 {
  top: 1459.5px;
  left: 99.5px;
  width: 1313px;
}
.group-child324 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 91px;
  height: 36px;
}
.b103,
.b104,
.b105 {
  position: absolute;
  display: inline-block;
}
.b103 {
  top: 6.86px;
  left: 19px;
  color: var(--color-red);
  width: 54px;
  height: 23.14px;
}
.b104,
.b105 {
  top: 7px;
  left: 111px;
  width: 91px;
  height: 23px;
}
.b105 {
  left: 202px;
  text-decoration: line-through;
  opacity: 0.5;
}
.rectangle-parent127 {
  position: absolute;
  top: 0;
  left: 0;
  width: 293px;
  height: 36px;
}
.blue,
.trang-chi-tit-sn-phm-inner2 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.trang-chi-tit-sn-phm-inner2 {
  top: 276px;
  left: 766px;
  width: 293px;
  height: 36px;
}
.blue {
  top: 347px;
  left: 765px;
}
.group-child325 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 110.98px;
  height: 50px;
}
.group-child326 {
  position: absolute;
  top: 3.66px;
  left: 8.54px;
  width: 41.46px;
  height: 41.46px;
  object-fit: cover;
}
.blue1,
.rectangle-parent128 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110.98px;
  height: 50px;
}
.blue1 {
  top: 17.07px;
  left: 60.98px;
  display: inline-block;
  width: 37.8px;
  height: 19.51px;
}
.group-child327,
.group-parent107 {
  position: absolute;
  width: 110.98px;
  height: 50px;
}
.group-parent107 {
  top: 374px;
  left: 766px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.group-child327 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.white {
  position: absolute;
  top: 17.07px;
  left: 58.54px;
  display: inline-block;
  width: 48.78px;
  height: 19.51px;
}
.group-parent108 {
  position: absolute;
  top: 374px;
  left: 907px;
  width: 110.98px;
  height: 50px;
  font-size: var(--font-size-xs);
}
.black {
  position: absolute;
  top: 17.07px;
  left: 58.54px;
  display: inline-block;
  width: 47.56px;
  height: 19.51px;
}
.group-parent109 {
  position: absolute;
  top: 374px;
  left: 1048px;
  width: 110.98px;
  height: 50px;
  font-size: var(--font-size-xs);
}
.group-child331 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 41px;
  height: 41px;
}
.m {
  position: absolute;
  top: 10px;
  left: 11px;
  display: inline-block;
  width: 19px;
  height: 20px;
}
.rectangle-parent131 {
  position: absolute;
  top: 453px;
  left: 766px;
  width: 41px;
  height: 41px;
  font-size: var(--font-size-xl);
}
.l {
  position: absolute;
  top: 10px;
  left: 14px;
  display: inline-block;
  width: 13px;
  height: 20px;
}
.rectangle-parent132,
.trang-chi-tit-sn-phm-inner3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
}
.trang-chi-tit-sn-phm-inner3 {
  top: 453px;
  left: 826px;
  font-size: var(--font-size-xl);
}
.xl {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 25px;
  height: 20px;
}
.rectangle-parent133 {
  position: absolute;
  top: 453px;
  left: 886px;
  width: 41px;
  height: 41px;
  font-size: var(--font-size-xl);
}
.trang-chi-tit-sn-phm-child5 {
  position: absolute;
  top: 526px;
  left: 766px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 159px;
  height: 52px;
}
.group-child334,
.trang-chi-tit-sn-phm-child6 {
  position: absolute;
  top: 526px;
  left: 884px;
  background-color: var(--color-gray-500);
  width: 41px;
  height: 52px;
  opacity: 0.2;
}
.group-child334 {
  top: 5px;
  left: 0;
}
.b106,
.b107 {
  position: absolute;
  top: 0;
  left: 13px;
}
.b107 {
  top: 14px;
  left: 130px;
}
.rectangle-parent134,
.wrapper {
  position: absolute;
  font-size: var(--font-size-13xl);
}
.rectangle-parent134 {
  top: 521px;
  left: 766px;
  width: 149px;
  height: 57px;
  color: var(--color-white);
}
.wrapper {
  top: 533px;
  left: 836px;
  width: 19px;
  height: 43px;
}
.thm-vo-gi {
  position: absolute;
  top: 15px;
  left: 44px;
}
.group-parent110,
.trang-chi-tit-sn-phm-inner4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 202px;
  height: 52px;
}
.trang-chi-tit-sn-phm-inner4 {
  top: 526px;
  left: 988px;
  font-size: var(--font-size-base);
  color: var(--color-snow);
  font-family: var(--font-paytone-one);
}
.thanh-ton-ngay {
  position: absolute;
  top: 15px;
  left: 25px;
}
.trang-chi-tit-sn-phm-inner5 {
  position: absolute;
  top: 526px;
  left: 1210px;
  width: 202px;
  height: 52px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-snow);
  font-family: var(--font-paytone-one);
}
.frame-child12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 184px;
  object-fit: cover;
}
.trang-chi-tit-sn-phm-child7,
.trang-chi-tit-sn-phm-inner6 {
  position: absolute;
  top: 781px;
  left: 96px;
  width: 184px;
  height: 184px;
}
.trang-chi-tit-sn-phm-child7 {
  left: 302px;
  object-fit: cover;
}
.trang-chi-tit-sn-phm-child10,
.trang-chi-tit-sn-phm-child8,
.trang-chi-tit-sn-phm-child9 {
  position: absolute;
  top: 997px;
  left: 301px;
  width: 184px;
  height: 184px;
  object-fit: cover;
}
.trang-chi-tit-sn-phm-child10,
.trang-chi-tit-sn-phm-child9 {
  left: 508px;
}
.trang-chi-tit-sn-phm-child10 {
  top: 781px;
}
.vector-icon36,
.vector-icon37 {
  position: absolute;
  height: 0.91%;
  width: 5.14%;
  top: 98.02%;
  right: 90.18%;
  bottom: 1.07%;
  left: 4.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon37 {
  height: 3.05%;
  width: 8.19%;
  top: 96.95%;
  right: 91.81%;
  bottom: 0;
  left: 0;
}
.div9 {
  position: absolute;
  top: 0;
  left: 39px;
}
.trang-chi-tit-sn-phm-inner7 {
  position: absolute;
  height: 12.5%;
  width: 11.31%;
  top: 48.99%;
  right: 16.87%;
  bottom: 38.5%;
  left: 71.83%;
  color: var(--color-white);
  font-family: var(--font-baloo-bhai);
}
.hansmodevngmailcom5,
.vector-icon38 {
  position: absolute;
  top: 0;
  left: 42px;
}
.vector-icon38 {
  height: 2.28%;
  width: 6.13%;
  top: 97.72%;
  right: 93.87%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hansmodevngmailcom-parent3 {
  position: absolute;
  top: 3426px;
  left: 1086px;
  width: 326px;
  height: 868.25px;
  color: var(--color-white);
  font-family: var(--font-baloo-bhai);
}
.group-child337,
.sn-phm-lin {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child337 {
  top: 75.5px;
  left: 4.5px;
  border-top: 3px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 526px;
  height: 3px;
}
.sn-phm-lin-quan-parent,
.trang-chi-tit-sn-phm-inner8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 529px;
  height: 77px;
}
.trang-chi-tit-sn-phm-inner8 {
  top: 1548px;
  left: 492px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-paytone-one);
}
.group-child338 {
  position: absolute;
  top: 7.92px;
  left: 0;
  width: 347.19px;
  height: 458.11px;
  object-fit: cover;
}
.sale69 {
  position: absolute;
  top: 0;
  left: 381.11px;
  display: inline-block;
  width: 61.55px;
  height: 35.06px;
  transform: rotate(47.74deg);
  transform-origin: 0 0;
}
.group-child339,
.rectangle-parent135,
.sale70 {
  position: absolute;
  top: 35.97px;
  left: 0;
  width: 422.49px;
  height: 466.03px;
}
.group-child339,
.sale70 {
  top: 51.95px;
  width: 110.1px;
  height: 102.16px;
}
.sale70 {
  top: 58.08px;
  left: 64.5px;
  display: inline-block;
  width: 69.44px;
  height: 31.91px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.vector-parent65 {
  position: absolute;
  top: 0;
  left: 314.12px;
  width: 158.19px;
  height: 171.44px;
}
.group-parent112,
.group-parent113,
.group-parent114,
.group-parent115,
.group-parent116 {
  position: absolute;
  top: 1649px;
  left: 100px;
  width: 472.31px;
  height: 502px;
  color: var(--color-white);
}
.group-parent113,
.group-parent114,
.group-parent115,
.group-parent116 {
  top: 2351px;
}
.group-parent114,
.group-parent115,
.group-parent116 {
  top: 3053px;
}
.group-parent115,
.group-parent116 {
  top: 3739px;
}
.group-parent116 {
  top: 4426px;
}
.group-child348 {
  position: absolute;
  top: 7.93px;
  left: 0;
  width: 347.7px;
  height: 458.78px;
  object-fit: cover;
}
.sale76 {
  position: absolute;
  top: 0;
  left: 381.67px;
  display: inline-block;
  width: 61.64px;
  height: 35.11px;
  transform: rotate(47.74deg);
  transform-origin: 0 0;
}
.group-child349,
.rectangle-parent140,
.sale77 {
  position: absolute;
  top: 36.03px;
  left: 0;
  width: 423.12px;
  height: 466.71px;
}
.group-child349,
.sale77 {
  top: 52.03px;
  width: 110.26px;
  height: 102.31px;
}
.sale77 {
  top: 58.17px;
  left: 64.59px;
  display: inline-block;
  width: 72.11px;
  height: 31.96px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.vector-parent70 {
  position: absolute;
  top: 0;
  left: 313.58px;
  width: 158.42px;
  height: 171.69px;
}
.group-parent117,
.group-parent118,
.group-parent119,
.group-parent120,
.group-parent121 {
  position: absolute;
  top: 1648px;
  left: 544px;
  width: 472px;
  height: 502.74px;
  color: var(--color-white);
}
.group-parent118,
.group-parent119,
.group-parent120,
.group-parent121 {
  top: 2350px;
}
.group-parent119,
.group-parent120,
.group-parent121 {
  top: 3052px;
}
.group-parent120,
.group-parent121 {
  top: 3738px;
}
.group-parent121 {
  top: 4425px;
}
.group-child358 {
  position: absolute;
  top: 7.94px;
  left: 0;
  width: 347.88px;
  height: 459.02px;
  object-fit: cover;
}
.sale83 {
  position: absolute;
  top: 0;
  left: 381.86px;
  display: inline-block;
  width: 61.67px;
  height: 35.13px;
  transform: rotate(47.74deg);
  transform-origin: 0 0;
}
.group-child359,
.rectangle-parent145,
.sale84 {
  position: absolute;
  top: 36.04px;
  left: 0;
  width: 423.34px;
  height: 466.96px;
}
.group-child359,
.sale84 {
  top: 52.06px;
  width: 110.32px;
  height: 102.37px;
}
.sale84 {
  top: 58.2px;
  left: 64.63px;
  display: inline-block;
  width: 69.27px;
  height: 31.97px;
  transform: rotate(42.65deg);
  transform-origin: 0 0;
}
.vector-parent75 {
  position: absolute;
  top: 0;
  left: 313.74px;
  width: 158.5px;
  height: 171.78px;
}
.group-parent122,
.group-parent123,
.group-parent124,
.group-parent125,
.group-parent126 {
  position: absolute;
  top: 1648px;
  left: 988px;
  width: 472.25px;
  height: 503px;
  color: var(--color-white);
}
.group-parent123,
.group-parent124,
.group-parent125,
.group-parent126 {
  top: 2350px;
}
.group-parent124,
.group-parent125,
.group-parent126 {
  top: 3052px;
}
.group-parent125,
.group-parent126 {
  top: 3738px;
}
.group-parent126 {
  top: 4425px;
}
.b109,
.b110 {
  position: absolute;
  top: 0;
}
.b109 {
  left: 0;
  text-decoration: line-through;
  opacity: 0.5;
}
.b110 {
  left: 125px;
}
.group-wrapper96,
.parent49 {
  position: absolute;
  top: 44px;
  left: 15px;
  width: 217px;
  height: 32px;
}
.group-wrapper96 {
  top: 0;
  left: 0;
  width: 250px;
  height: 76px;
}
.group-child368,
.group-child369,
.group-child370 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.group-child369,
.group-child370 {
  top: 0;
  left: 81px;
}
.group-child370 {
  left: 162px;
}
.rectangle-parent150 {
  position: absolute;
  top: 88px;
  left: 18px;
  width: 210px;
  height: 51px;
}
.group-parent127,
.trang-chi-tit-sn-phm-inner9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 139px;
}
.trang-chi-tit-sn-phm-inner9 {
  top: 2141px;
  left: 149px;
  text-align: center;
}
.rabbit-bag-tee3 {
  position: absolute;
  top: 0;
  left: 12px;
}
.group-wrapper97,
.parent50 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 217px;
  height: 32px;
}
.group-wrapper97 {
  top: 0;
  height: 76px;
}
.rectangle-parent151 {
  position: absolute;
  top: 88px;
  left: 3px;
  width: 210px;
  height: 51px;
}
.group-parent128,
.trang-chi-tit-sn-phm-inner10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 217px;
  height: 139px;
}
.trang-chi-tit-sn-phm-inner10 {
  top: 2843px;
  left: 164px;
  text-align: center;
}
.b114,
.beans-tee3 {
  position: absolute;
  top: 0;
  left: 45px;
}
.b114 {
  left: 119px;
}
.group-wrapper98,
.parent51 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 224px;
  height: 32px;
}
.group-wrapper98 {
  top: 0;
  height: 76px;
}
.group-parent129,
.trang-chi-tit-sn-phm-inner11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 139px;
}
.trang-chi-tit-sn-phm-inner11 {
  top: 3472px;
  left: 162px;
  text-align: center;
}
.group-child378,
.group-child379 {
  position: absolute;
  top: 0;
  left: 81px;
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}
.group-child379 {
  left: 162px;
}
.trang-chi-tit-sn-phm-inner12 {
  position: absolute;
  top: 4158px;
  left: 162px;
  width: 224px;
  height: 139px;
  text-align: center;
}
.guava-tee3 {
  position: absolute;
  top: 0;
  left: 43px;
}
.trang-chi-tit-sn-phm-inner13 {
  position: absolute;
  top: 4845px;
  left: 162px;
  width: 224px;
  height: 139px;
  text-align: center;
}
.cake-tee-013 {
  position: absolute;
  top: 0;
  left: 36px;
}
.trang-chi-tit-sn-phm-inner14 {
  position: absolute;
  top: 2141px;
  left: 609px;
  width: 217px;
  height: 139px;
  text-align: center;
}
.rainbow-tee3 {
  position: absolute;
  top: 0;
  left: 24px;
}
.trang-chi-tit-sn-phm-inner15 {
  position: absolute;
  top: 2843px;
  left: 609px;
  width: 217px;
  height: 139px;
  text-align: center;
}
.bee-tee3 {
  position: absolute;
  top: 0;
  left: 63px;
}
.trang-chi-tit-sn-phm-inner16,
.trang-chi-tit-sn-phm-inner17,
.trang-chi-tit-sn-phm-inner18 {
  position: absolute;
  top: 3545px;
  left: 606px;
  width: 224px;
  height: 139px;
  text-align: center;
}
.trang-chi-tit-sn-phm-inner17,
.trang-chi-tit-sn-phm-inner18 {
  top: 4231px;
}
.trang-chi-tit-sn-phm-inner18 {
  top: 4918px;
}
.cheese-tee4 {
  position: absolute;
  top: 0;
  left: 41px;
}
.trang-chi-tit-sn-phm-inner19 {
  position: absolute;
  top: 2141px;
  left: 1053px;
  width: 217px;
  height: 139px;
  text-align: center;
}
.parent60 {
  position: absolute;
  top: 44px;
  left: 10px;
  width: 217px;
  height: 32px;
}
.group-wrapper107 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 76px;
}
.rectangle-parent161 {
  position: absolute;
  top: 88px;
  left: 13px;
  width: 210px;
  height: 51px;
}
.group-parent138,
.trang-chi-tit-sn-phm-inner20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 139px;
}
.trang-chi-tit-sn-phm-inner20 {
  top: 2843px;
  left: 1043px;
  text-align: center;
}
.butterfly-tee3 {
  position: absolute;
  top: 0;
  left: 18px;
}
.trang-chi-tit-sn-phm-inner21 {
  position: absolute;
  top: 3545px;
  left: 1050px;
  width: 224px;
  height: 139px;
  text-align: center;
}
.eggplant-tee3 {
  position: absolute;
  top: 0;
  left: 21px;
}
.trang-chi-tit-sn-phm-inner22 {
  position: absolute;
  top: 4231px;
  left: 1050px;
  width: 224px;
  height: 139px;
  text-align: center;
}
.lemon-03-tee3 {
  position: absolute;
  top: 0;
  left: 23px;
}
.trang-chi-tit-sn-phm-inner23 {
  position: absolute;
  top: 4918px;
  left: 1050px;
  width: 224px;
  height: 139px;
  text-align: center;
}
.trang-chi-tit-sn-phm-child11 {
  position: absolute;
  top: 195px;
  left: 208px;
  width: 424px;
  height: 546px;
  object-fit: cover;
}
.home10 {
  position: absolute;
  top: 46px;
  left: 433px;
  font-size: var(--font-size-lg);
  font-family: var(--font-paytone-one);
  color: var(--color-white);
  display: inline-block;
  width: 64px;
  height: 21px;
  cursor: pointer;
}
.group-child413 {
  position: absolute;
  top: 25px;
  left: 21px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 52px;
  height: 2px;
}
.sn-phm11,
.sn-phm12 {
  position: absolute;
  top: -1.79%;
  left: 0;
}
.sn-phm11 {
  top: 0;
  width: 94px;
  height: 21px;
}
.hans-mode-group4,
.lin-h4,
.line-parent1 {
  position: absolute;
  top: 46px;
  left: 549px;
  width: 94px;
  height: 26px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-paytone-one);
}
.hans-mode-group4,
.lin-h4 {
  left: 709px;
  display: inline-block;
  width: 79px;
  height: 21px;
}
.hans-mode-group4 {
  left: 840px;
  text-decoration: underline;
  width: 202px;
}
.trang-chi-tit-sn-phm-child12 {
  position: absolute;
  top: 5186px;
  left: 4px;
  width: 1512px;
  height: 830px;
  overflow-x: auto;
}
.group-child414 {
  position: absolute;
  top: 80.5px;
  left: 4.5px;
  border-top: 3px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 448px;
  height: 3px;
}
.ng-k-nhn-tin-parent1 {
  position: absolute;
  top: 0;
  left: 523px;
  width: 451px;
  height: 82px;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue);
  font-family: var(--font-paytone-one);
}
.group-child415,
.nhp-a-ch3 {
  position: absolute;
  top: 109px;
  left: 403px;
}
.group-child415 {
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 187px;
  height: 76px;
}
.ng-k7 {
  position: absolute;
  top: 22px;
  left: 47px;
}
.group-wrapper111,
.rectangle-parent165 {
  position: absolute;
  top: 0;
  left: 0;
  width: 187px;
  height: 76px;
}
.group-wrapper111 {
  top: 164px;
  left: 923px;
  color: var(--color-white);
}
.group-child416 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 582px;
  height: 76px;
}
.nhp-email-ca3 {
  position: absolute;
  top: 27px;
  left: 11px;
  opacity: 0.5;
}
.rectangle-parent166 {
  position: absolute;
  top: 164px;
  left: 323px;
  width: 582px;
  height: 76px;
  font-size: var(--font-size-base);
}
.group-child417 {
  background-color: var(--color-black);
  width: 1512px;
  height: 653px;
}
.group-child417,
.social-network4 {
  position: absolute;
  top: 0;
  left: 1px;
}
.bi-vit9 {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.bi-vit8 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 94px;
  height: 28px;
}
.bi-vit-parent2,
.tuyn-dng8 {
  position: absolute;
  top: 32px;
  left: 0;
}
.bi-vit-parent2 {
  top: 44px;
  width: 130px;
  height: 64px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.group-wrapper112,
.social-network-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 195px;
  height: 108px;
}
.group-wrapper112 {
  top: 61px;
  left: 767px;
}
.t-shirt32 {
  position: absolute;
  top: 0;
  left: 1px;
  cursor: pointer;
}
.shirt18,
.sweater18 {
  position: absolute;
  top: 32px;
  left: 1px;
}
.sweater18 {
  top: 64px;
}
.hoodie18,
.jacket18 {
  position: absolute;
  top: 96px;
  left: 0;
}
.jacket18 {
  top: 128px;
}
.bomber18,
.polo18 {
  position: absolute;
  top: 160px;
  left: 1px;
}
.polo18 {
  top: 192px;
  left: 0;
}
.croptop18,
.t-shirt-parent4 {
  position: absolute;
  top: 224px;
  left: 0;
}
.t-shirt-parent4 {
  top: 38px;
  left: 1px;
  width: 114px;
  height: 256px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.danh-mc-parent2,
.group-wrapper113 {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 294px;
}
.group-wrapper113 {
  top: 61px;
  left: 545px;
}
.vector-icon39,
.vector-icon40 {
  position: absolute;
  height: 17.32%;
  width: 5.14%;
  top: 41.34%;
  right: 90.18%;
  bottom: 41.34%;
  left: 4.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon40 {
  height: 57.89%;
  width: 8.19%;
  top: 21.05%;
  right: 91.81%;
  bottom: 21.05%;
  left: 0;
}
.group-wrapper114 {
  position: absolute;
  height: 5.82%;
  width: 11.3%;
  top: 20.52%;
  right: 16.85%;
  bottom: 73.66%;
  left: 71.84%;
}
.hans-mode-t-container4 {
  position: absolute;
  top: 38px;
  left: 0;
  font-size: var(--font-size-xl);
  font-family: var(--font-baloo-2);
}
.group-child418,
.group-wrapper115,
.thit-k-v-thi-trang-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 292px;
  height: 166px;
}
.group-child418,
.group-wrapper115 {
  top: 11px;
  left: 47px;
}
.group-child418 {
  height: 20.34%;
  width: 10.62%;
  top: 0;
  right: 89.38%;
  bottom: 79.66%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent143,
.vector-icon41 {
  position: absolute;
  top: 50px;
  left: 101px;
  width: 339px;
  height: 177px;
}
.vector-icon41 {
  height: 42.11%;
  width: 6.13%;
  top: 21.05%;
  right: 93.87%;
  bottom: 36.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hansmodevngmailcom-parent4 {
  position: absolute;
  top: 61px;
  left: 1087px;
  width: 326px;
  height: 38px;
}
.group-child419,
.group-child420 {
  position: absolute;
  top: 366.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1513px;
  height: 1px;
}
.group-child420 {
  top: 391.5px;
  left: -0.5px;
}
.group-child421 {
  position: absolute;
  height: 5.12%;
  width: 27.04%;
  top: 66%;
  right: 36.48%;
  bottom: 28.87%;
  left: 36.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home11 {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.gii-thiu4,
.sale90 {
  position: absolute;
  top: 0;
  left: 94px;
}
.gii-thiu4 {
  left: 182px;
}
.chnh-sch4,
.ng-k8,
.ng-nhp6 {
  position: absolute;
  top: 0;
  left: 314px;
}
.ng-k8,
.ng-nhp6 {
  left: 580px;
  cursor: pointer;
}
.ng-nhp6 {
  left: 692px;
}
.copyright-20234,
.home-parent8 {
  position: absolute;
  font-size: var(--font-size-base);
  font-family: var(--font-paytone-one);
}
.home-parent8 {
  top: 513px;
  left: 362px;
  width: 789px;
  height: 22px;
}
.copyright-20234 {
  top: 572px;
  left: 636px;
}
.group-child422,
.group-child423,
.group-child424,
.group-child425,
.group-child426 {
  position: absolute;
  top: 517.5px;
  left: 433.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.group-child423,
.group-child424,
.group-child425,
.group-child426 {
  left: 524.5px;
}
.group-child424,
.group-child425,
.group-child426 {
  left: 655.5px;
}
.group-child425,
.group-child426 {
  left: 919.5px;
}
.group-child426 {
  left: 1033.5px;
}
.rectangle-parent167 {
  position: absolute;
  top: 292px;
  left: 0;
  width: 1513px;
  height: 653px;
  color: var(--color-white);
  font-family: var(--font-baloo-bhai);
}
.group-parent142,
.vector-icon42 {
  position: absolute;
  top: 6197px;
  left: -1px;
  width: 1513px;
  height: 945px;
}
.vector-icon42 {
  height: 17.32%;
  width: 5.39%;
  top: 41.34%;
  right: 94.61%;
  bottom: 41.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook-wrapper2,
.facebook4 {
  position: absolute;
  top: 0;
  width: 132px;
}
.facebook4 {
  left: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
}
.facebook-wrapper2 {
  left: 31px;
  height: 38px;
}
.trang-chi-tit-sn-phm-inner24 {
  position: absolute;
  height: 0.53%;
  width: 10.78%;
  top: 93.45%;
  right: 16.93%;
  bottom: 6.02%;
  left: 72.29%;
  color: var(--color-white);
  font-family: var(--font-baloo-bhai);
}
.trang-chi-tit-sn-phm {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 7142px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-telugu);
}
.t-shirt2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 182.7%;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper,
.t-shirt-wrapper {
  position: absolute;
  height: 12.5%;
  width: 100%;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.t-shirt-wrapper {
  top: 0;
  bottom: 87.5%;
  background-color: var(--color-dimgray-300);
  display: none;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.shirt-wrapper,
.sweater-wrapper {
  top: 12.5%;
  bottom: 75%;
  background-color: var(--color-dimgray-200);
  display: flex;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper,
.sweater-wrapper {
  top: 25%;
  bottom: 62.5%;
}
.bomber-wrapper,
.croptop-wrapper,
.hoodie-wrapper,
.jacket-wrapper,
.polo-wrapper {
  top: 37.5%;
  bottom: 50%;
}
.bomber-wrapper,
.croptop-wrapper,
.jacket-wrapper,
.polo-wrapper {
  top: 50%;
  bottom: 37.5%;
}
.bomber-wrapper,
.croptop-wrapper,
.polo-wrapper {
  top: 62.5%;
  bottom: 25%;
}
.croptop-wrapper,
.polo-wrapper {
  top: 75%;
  bottom: 12.5%;
}
.croptop-wrapper {
  top: 87.5%;
  bottom: 0;
}
.component-2default,
.t-shirt-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.t-shirt-container {
  height: 12.5%;
  bottom: 87.5%;
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-37xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.component-2default {
  height: 100%;
  bottom: 0;
}
.menu {
  position: relative;
  width: 174px;
  height: 312px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-baloo-2);
}
.vector-icon13 {
  position: relative;
  width: 70.58px;
  height: 67.15px;
  flex-shrink: 0;
}
.bn-thm {
  margin: 0;
}
.bn-thm-container {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #fff;
}
.xem-gi-hng-container1 {
  line-break: anywhere;
  width: 100%;
}
.xem-gi-hng-container {
  position: relative;
  text-decoration: underline;
  line-height: 21.99%;
  display: flex;
  align-items: center;
  width: 118px;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.xem-gi-hng-wrapper {
  display: flex;
  flex-direction: row;
  padding: 22px 18px;
  align-items: center;
  justify-content: center;
}
.vector-icon14 {
  position: relative;
  width: 29.77px;
  height: 26.25px;
  flex-shrink: 0;
}
.click-vo-y-xem-gi-hng,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  flex-direction: column;
  padding: 15px 9px;
}
.click-vo-y-xem-gi-hng {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 49px;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 224px;
  height: 66px;
  flex-direction: row;
  padding: var(--padding-8xs) 8px;
  cursor: pointer;
}
.click-vo-y-xem-gi-hng-wrapper,
.vector-root {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.click-vo-y-xem-gi-hng-wrapper {
  width: 224px;
  height: 66px;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.vector-root {
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 787px;
  height: 201px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-47xl) 19px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-times-new-roman);
}
.frame-child6 {
  position: relative;
  width: 424px;
  height: 546px;
  flex-shrink: 0;
  object-fit: cover;
}
.rectangle-top {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
.frame-child7 {
  position: relative;
  width: 424px;
  height: 546px;
  flex-shrink: 0;
  object-fit: cover;
}
.rectangle-parent123 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
.frame-child8 {
  position: relative;
  width: 424px;
  height: 546px;
  flex-shrink: 0;
  object-fit: cover;
}
.rectangle-parent124 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
